﻿@model VendornetVariableDB.ViewModels.ProgramVariableMapIndexViewModel

@{
    ViewBag.Title = "Program Variable Mapping";
}

<h2>Variable Mapping</h2>

<div>
    <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
</div>
<br />

<div class="form-group">
    @Html.Label("Programs", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
    <div class="col-md-10">
        @Html.DropDownList("ddlPrograms", Model.Programs, "Choose...", new { @id = "ddlPrograms", @class = "form-control", @style = "max-width:350px;" })
    </div>
</div>

<div class="form-group" id="divProcessesDdl">
    @Html.Label("Processes", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
    <div class="col-md-10">
        <select id="ddlProcesses" class="form-control" style="max-width:350px;display:none;"></select>
    </div>
</div>

<br />
<br />
<div class="form-group" >
    <div id="divUserFeedback" class="text-center col-md-8">Please wait...<img src="@Url.Content("~/Content/Images/Loading.gif")"></div>
    <div class="col-md-4">&nbsp;</div>
</div>
<br />
<br />
<div id="divUserFeedbackMessage" class="text-center"></div>
<div id="divResults"></div>

<script>

    function ddlProcessesChanged() {
        // back button
        $('#btnBackNoUpdate').click(function () {
            parent.history.back();
            return false;
        });
        // blank results area
        $('#divResults').html('');
        // if they chose the 'choose...'
        if ($("#ddlProcesses").find("option:selected").val() == '') {
            // just return, nothing selected
            return;
        }
        // user feedback
        $('#divUserFeedback').show();
        // create data model
        var model = {
            ProgramId: $("#ddlPrograms").find("option:selected").val(),
            ProcessId: $("#ddlProcesses").find("option:selected").val()
        };
        // create model to pass
        var ajaxData = {
            //__RequestVerificationToken: token,
            model: model // FYI: must match name of param name of controller method
        };
        // get the mappings via ajax and return results to resultsDiv
        $.ajax({
            url: "@(Url.Action("GetProcessVariableMappings", "VariableMapping"))",
            type: "POST",
            data: ajaxData,
            success: function (response) { // ajax succeeded
                // hide userfeedback
                $('#divUserFeedback').hide();
                // load results into div
                $('#divResults').html(response);
            },
            error: function (response) { // ajax failure
                alert(response.responseText);
            }
        });
    }

    function ddlProgramsChanged() {
        // blank results area
        $('#divResults').html('');
        // blank sercond ddl
        $('#ddlProcesses').html('').hide();
        // show second ddl area
        $('#divProcessesDdl').hide();
        // if they chose the 'choose...'
        if ($("#ddlPrograms").find("option:selected").val() == '') {
            // just return, nothing selected
            return;
        }
        // user feedback
        $('#divUserFeedback').show();
        // create model to pass
        var ajaxData = {
            id: $("#ddlPrograms").find("option:selected").val()
        };
        // get the mappings via ajax and return results to resultsDiv
        $.ajax({
            url: "@(Url.Action("GetMappingsForProgramOrItemsForDdlProcesses", "VariableMapping"))",
            type: "POST",
            data: ajaxData,
            success: function (response) { // ajax succeeded
                if (response.IsSuccess) {
                    // hide userfeedback
                    $('#divUserFeedback').hide();
                    // switch on type of return, json for second ddl or partialview html
                    switch (response.ReturnType) {
                        case 1:
                            // load results into div
                            $('#divResults').html(response.ReturnHtml);
                            break;
                        case 2:
                            // load results into second ddl (processes)
                            var markup = '';
                            markup += '<option value="">Choose...</option>'; // initial blank
                            for (var x = 0; x < response.ReturnDDLOptions.length; x++) {
                                markup += '<option value="' + response.ReturnDDLOptions[x].Value + '">' + response.ReturnDDLOptions[x].Text + '</option>';
                            }
                            // show second ddl area
                            $('#divProcessesDdl').show();
                            // show second ddl
                            $('#ddlProcesses').html(markup).show();
                            break;
                    }
                } else {
                    alert("FAILED\n" + response.ReturnHtml);
                    // hide userfeedback
                    $('#divUserFeedback').hide();
                }
            },
            error: function (response) { // ajax failure
                alert(response.responseText);
            }
        });
    }

    $(document).ready(function () {

        // hide feedback initially onload
        $('#divUserFeedback').hide();

        // hide second ddl area
        $('#divProcessesDdl').hide();

        /* on change of first DDL, load second(processes) ddl options
           or get existing var maps and available vars for that program*/
        $('#ddlPrograms').change(function () {
            ddlProgramsChanged();
        });

        // on change of either ddl, refresh mapping list
        $("#ddlProcesses").change(function () {
            ddlProcessesChanged();
        });

    });

</script>