﻿@model VendornetVariableDB.ViewModels.UserRoleEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.UserDisplayName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UserDisplayName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.UserDisplayName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserRoles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @for (int i = 0; i < Model.UserRoles.Count(); i++)
                {
                    <div>
                        @Html.Hidden(Model.UserRoles.ToList()[i].Name, Model.UserRoles.ToList()[i].Name, new { @Name = "UserRoles[" + i + "].Name" })
                        @Html.CheckBox(Model.UserRoles.ToList()[i].Name, Model.UserRoles.ToList()[i].IsChecked, new { @Name = "UserRoles[" + i + "].IsChecked" })
                        @Html.LabelFor(x => x.UserRoles.ToList()[i].IsChecked, Model.UserRoles.ToList()[i].Name)
                    </div>
                }
                @*@foreach (var userRoleViewModel in Model.UserRoles)
                {
                    <div>
                        @Html.Hidden(userRoleViewModel.Name)
                        @Html.CheckBox("IsChecked", userRoleViewModel.IsChecked)
                        @Html.Label(userRoleViewModel.Name, userRoleViewModel.Name)
                    </div>
                }*@
            </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
