﻿@using VendornetVariableDB.Models
@{
    ViewBag.Title = "Process Select";
}

@{
    var processes = (List<Process>)ViewData["Processes"];
    var tierInfo = (TierInfo)ViewData["TierInfo"];
}

<div class="jumbotron">
    @Html.Action("TierLocation", "Partials", tierInfo)

    <p class="lead">Please select the <b>PROCESS</b> whose variables you would like to modify.</p>
    <span>
        <select id="processSelect" onchange="updateSelected()">
            @foreach (var process in processes)
            {
                <option value="@process.ProcessId">@process.ProcessName</option>
            }
        </select>

        <button id="btnProcessVariables" class="btn btn-primary btn-lg">Modify Process Variables</button>
        <button id="btnProcessRunningVariables" class="btn btn-primary btn-lg">View Running Process Variables &raquo;</button>
     </span>
    <div>
        <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnProcessVariables").click(function () {
            location.href = '@Url.Action("Modify", "Process")' + '?serverAccountId=' + @(tierInfo.ServerAccountId) + '&programId=' + @tierInfo.ProgramId + '&processId=' + $("#processSelect").find("option:selected").val();
        });
        $("#btnProcessRunningVariables").click(function () {
            location.href = '@Url.Action("Running", "Process")' + '?serverAccountId=' + @(tierInfo.ServerAccountId) + '&programId=' + @tierInfo.ProgramId + '&processId=' + $("#processSelect").find("option:selected").val();
        });
        // back button
        $('#btnBackNoUpdate').click(function () {
            parent.history.back();
            return false;
        });
    });
</script>
