﻿@using VendornetVariableDB.Models
@{
    ViewBag.Title = "Process Variables Modify.";
}

@{
    var runningVariables = (List<NamedAccountProcessVariableRunning>)ViewData["RunningVariables"];
    var tierInfo = (TierInfo)ViewData["TierInfo"];
}

@Html.Partial("_LegendRunningProcesses")

<div class="jumbotron">
    @Html.Action("TierLocation", "Partials", tierInfo)
</div>
<div>
    <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
</div>
<br />
<div>
    <div style="font-weight:bold;">
        <div style="float:left; width:20%;">
            Variable Name
        </div>
        <div style="float:left;width:80%;">
            Variable Data <span style="font-size:-1pt">(program var data is displayed below each entry box)</span>
        </div>
    </div>

    @foreach (var runningVariable in runningVariables)
    {
        <div class="divRunningProcesses varID<@runningVariable.VariableId>" style="clear:both;height:50px; border-top:solid 1px gray; padding-top:12px;">

            <div class="variableId" style="display:none;">
                @runningVariable.VariableId
            </div>

            <div>
                <div>
                    &nbsp;
                    @*<a href="#" data-toggle="tooltip" data-placement="left" title="@(runningVariable.VariableDescription.Length != 0 ? runningVariable.VariableDescription : "No Description.")"><img src="~/Content/Images/tooltip.png" /></a>&nbsp;*@
                    &nbsp;
                </div> 
                <div class="variableName" style="float:left; width:20%;">
                    @runningVariable.VariableName
                </div>
            </div>

            @if (runningVariable.VariableData != null)
                {
                <div style="float:left; width:70%;">
                    <div style="float:left; clear:left">&nbsp;@runningVariable.ActualVariableData</div>
                    <div style="float:left; clear:left">&nbsp;@runningVariable.VariableData</div>
                </div>
            }
            else
            {
                if (runningVariable.Required)
                {
                    <div style="float:left; width:70%; background-color:#FFAAAA">
                        <div style="float:left; clear:left">!!! not set !!!</div>
                        <div style="float:left; clear:left">suggested default value: @runningVariable.DefaultValue</div>
                    </div>
                }
                else
                {
                    <div style="float:left; width:70%; background-color:#FFFF99">
                        <div style="float:left; clear:left">!!! not set !!!</div>
                        <div style="float:left; clear:left">suggested default value: @runningVariable.DefaultValue</div>
                    </div>
                }
            }
            <div style="float:left; width:10%;">
                @if (@runningVariable.ServerLevelData != null)
                {
                    if (runningVariable.Tier.Trim() == "S")
                    {
                        <a href="@Url.Action("Modify", "Server")?serverId=@tierInfo.ServerId" class="badge" style="float:left; background-color:khaki; color:black">S</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Modify", "Server")?serverId=@tierInfo.ServerId" class="badge" style="float:left" title="@runningVariable.ServerLevelData">S</a>
                    }
                }
                @if (@runningVariable.AccountLevelData != null)
                {
                    if (runningVariable.Tier.Trim() == "A")
                    {
                        <a href="@Url.Action("Modify", "ClientAccount")?serverAccountId=@tierInfo.ServerAccountId" class="badge" style="float:left; background-color:khaki; color:black">A</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Modify", "ClientAccount")?serverAccountId=@tierInfo.ServerAccountId" class="badge" style="float:left" title="@runningVariable.AccountLevelData">A</a>
                    }
                }
                @if (@runningVariable.ProgramLevelData != null)
                {
                    if (runningVariable.Tier.Trim() == "P")
                    {
                        <a href="@Url.Action("Modify", "Program")?serverAccountId=@tierInfo.ServerAccountId&programId=@tierInfo.ProgramId" class="badge" style="float:left; background-color:khaki; color:black">P</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Modify", "Program")?serverAccountId=@tierInfo.ServerAccountId&programId=@tierInfo.ProgramId" class="badge" style="float:left" title="@runningVariable.ProgramLevelData">P</a>
                    }
                }
                @if (@runningVariable.ProgramProcessLevelData != null)
                {
                    if (runningVariable.Tier.Trim() == "PP")
                    {
                        <a href="@Url.Action("Modify", "Process")?serverAccountId=@tierInfo.ServerAccountId&programId=@tierInfo.ProgramId&processId=@tierInfo.ProcessId" class="badge" style="float:left; background-color:khaki; color:black">PP</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Modify", "Process")?serverAccountId=@tierInfo.ServerAccountId&programId=@tierInfo.ProgramId&processId=@tierInfo.ProcessId" class="badge" style="float:left" title="@runningVariable.ProgramProcessLevelData">PP</a>
                    }
                }
            </div>

            <div id="@runningVariable.VariableId-desc" style="float:left; clear:left; width:100%; background-color:#eeeeee; display:none">
                @runningVariable.VariableDescription
            </div>

        </div>
    }
</div>

<script>
    // tooltips
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    // back button
    $('#btnBackNoUpdate').click(function () {
        parent.history.back();
        return false;
    });
</script>
