﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.newRow {
    float:left;
    clear:both;
    width:100%;
}

.divUserFeedback{
    width: 100%;
    height: 15px;
    line-height: 15px;
}

.variableInfo, .setupInfo {
    clear:both;
    height:50px; 
    border-bottom:dashed 2px black; 
    border-top:solid 1px gray;
    padding-top:12px;
}

.variableToAddDescription {
    float:left;
    clear:left;
    word-wrap: break-word;
    max-height:50px;
    height:50px;
    background-color:#453a00;
    color: white;
    font-weight: bold;
    border: 5px solid #ffd800;
    width: 100%;  
}

.recVar {
    background-color:#C0FF7C;
}

.nonRecVar {
    background-color:#FFFF99;
}

.changeAllBox {
    padding-top:12px;
    padding-bottom:12px;
    border-top:solid 1px gray;
}

.addNonRecVariableInfo {
    border-top:solid 1px gray;
    border-bottom:solid 1px gray;
    padding-top:12px;
}

.variableTextBox, .setupTextBox {
    float:left;
    width:60%;
    height:45px;
}

.setupTextBox_small {
    float:left;
    width:20%;
    height:26px;
}

.variableDataReplace {
    float:left;
    clear:left;
}

.variableData, .setupData {
    width:98%;
    float:left;
    box-sizing:border-box;
    height:26px;
}

.variableNameBox, .setupAttb {
     float:left;
     width:25%;
     font-weight:bolder;
}

.setupAttb_small {
     float:left;
}

.variableUpdateBox, .setupUpdateBox {
    float:right;
    width:15%;
    white-space:nowrap;
    text-align:left
}

.variableDescription {
    background-color:#eeeeee;
    display:none;
}

.variableAvailableUL{
    background-color:#fe9c9c;
    width: 350px; 
    height: 550px; 
    overflow: auto; 
    cursor: pointer;
    list-style-type: none;
}
.variableAssignedUL{
    background-color:#9bf6a7;
    width: 350px; 
    height: 550px; 
    overflow: auto; 
    cursor: pointer;
    list-style-type: none;
}

.form-control{
    width:500px;
}
.variableDefaultsProcessLevelRow{
    height:40px;
    line-height:41px;
    align-items:center;
}
.variableDefaultsProcessLevelVarName{
    text-align:right;
    line-height:35px;
}
.variableDefaultRecommendedVariable{
    background-color:green;
    color:white;
}
/* Server Controller */
.serverVariableDescriptionLabel{
    text-align:right;
    margin: 0px 5px 0px 45px;
    font-weight: normal;
    font-size: smaller;
    vertical-align: bottom;
    line-height: 33px;
}

.divDisplayCurrentChoiceDescription{
    width: 450px;
}

.divLegend
{
    position: fixed;
    top: 80px;
    left: 85%;
    z-index: -100;
}
.divRunningProcesses{

}
#modalHelpFAQ .modal-body{
    max-height:650px;
    overflow: auto;
}


/* Adjust modals */
.modal-dialog {
    /* new custom width */
    width: 1000px;
    max-width: 1000px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: -280px;*/
}
.tdExistingVariables{
    background-color:#99ff2c;
    color:black;
    text-align:center;
    border-bottom:dashed 2px;
}
.tdRecommendedVariables{
    background-color:#99ff2c;
    color:black;
    text-align:center;
}
/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/