﻿@model VendornetVariableDB.ViewModels.ClientAccountIndexViewModel
@{
    ViewBag.Title = "Accounts Page";
}

<div class="jumbotron">
    @Html.Action("TierLocation", "Partials", Model.TierInfo)
    <p class="lead">Please select the <b>ACCOUNT</b> whose variables you would like to modify.</p>
    <br />
    <select id="serverAccountSelect" onchange="removeButton()">
        @foreach (var serverAccount in Model.ServerAccounts)
        {
            <option value="@serverAccount.ServerAccountId,@serverAccount.HasProgram">@serverAccount.AccountName</option>
        }
    </select>
    <span>
        <button onclick="getAccountVariables()" class="btn btn-primary btn-lg">Modify Account Variables</button>
        <button onclick="getAccountPrograms()" class="btn btn-primary btn-lg">View Programs &raquo;</button>
        <button id="deleteClientAccount" onclick="removeAccount();" class="btn btn-primary btn-lg" style="display:none">Remove Account from Server</button>
    </span>
    <br /><br />
    <div id="divAddAccount">
        <select id="accountAdd">
            @foreach (var availableAccount in Model.AvailableAccounts)
            {
                <option value="@availableAccount.AccountId">@availableAccount.AccountName</option>
            }
        </select>
        <button onclick="addAccount()" class="btn btn-primary btn-success">Add Account</button>
    </div>
    <div>
        <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
    </div>
</div>

<script>
      // back button
    $('#btnBackNoUpdate').click(function(){
        parent.history.back();
        return false;
    });
    var testMode = false;

    var serverAccountSelect = document.getElementById("serverAccountSelect");
    var selectedAccount;
    var hasPrograms;

    function getServerAccountId() {
        var sel = serverAccountSelect.options[serverAccountSelect.selectedIndex].value;
        var arr = sel.split(",");

        return parseInt(arr[0]);
    }

    function getAccountPrograms() {
        selectedServerAccountId = getServerAccountId();
        location.href = '@Url.Action("Index", "Program")?serverAccountId=' + selectedServerAccountId;
    }

    function getAccountVariables() {
        selectedServerAccountId = getServerAccountId();
        location.href = '@Url.Action("Modify", "ClientAccount")?serverAccountId=' + selectedServerAccountId;
    }

    function removeButton() {
        selectedServerAccountId = getServerAccountId();
        var sel = serverAccountSelect.options[serverAccountSelect.selectedIndex].value;
        var arr = sel.split(",");

        hasPrograms = Boolean(parseInt(arr[1]));

        if (!hasPrograms) {
            // cannot delete from ServerAccounts if the account ever had a variable set due to foreign key constraint on AccountProgramVariables_Hist
            // TBD if the constraint is needed

            //document.getElementById("deleteClientAccount").style.display = 'inline-block';
            document.getElementById("deleteClientAccount").style.display = 'none';
        } else {
            document.getElementById("deleteClientAccount").style.display = 'none';
        }

        // if this selected value (!HasPrograms) then display a delete button
    }

    function addAccount() {
        var accountId = $("#accountAdd").find("option:selected").val(); //document.getElementById("accountAdd").val();
        var dataStr = ({
            ServerId: @Model.TierInfo.ServerId,
            AccountId: accountId
        });

        dataStr = JSON.stringify(dataStr);
        
        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: "@Url.Action("AddAccount", "ClientAccount")",
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });
    }

    function removeAccount() {
        selectedServerAccountId = getServerAccountId();

        var dataStr = ({
            PKeyId: selectedServerAccountId
        });

        dataStr = JSON.stringify(dataStr);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: "@Url.Action("RemoveAccount", "ClientAccount")",
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });
    }

    $(document).ready(function () {

        // if not available account, blank out the add account section (div)
        @{
            if (Model.AvailableAccounts.Count == 0)
            {
            <text>
            $('#divAddAccount').hide();
            </text>
            }
        }

    });


</script>
