﻿@model VendornetVariableDB.ViewModels.AccountModifyViewModel
@using VendornetVariableDB.Classes
@{
    ViewBag.Title = "Account Variables Modify.";
}
@Html.Partial("_LegendVariableCodeTranslation")

<div class="jumbotron">
    @Html.Action("TierLocation", "Partials", Model.TierInfo)
</div>
<div>
    <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
</div>
<br />
<table class="table table-hover table-striped">
    <thead>
        <tr class="row">
            <th style="width:20%;">
                Variable Name
            </th>
            <th style="width:80%;">
                Variable Data <span style="font-size:-1pt">(program var data is displayed below each entry box)</span>
            </th>
        </tr>
    </thead>
    <tbody>

        <tr class="row"><td colspan="2" style="background-color:#99ff2c;color:black;text-align:center;border-bottom:dashed 2px;"><b>EXISTING VARIABLES</b></td></tr>

        @foreach (var currentVar in Model.CurrentVariables)
        {
            var recVar = "recVar";

            if (currentVar.DefaultLevel != (byte)Enums.VariableLevelEnum.Account)
            {
                recVar = "nonRecVar";
            }
            <tr class="row @recVar" style="border-bottom:dashed 2px;">

                <td colspan="2" class="variableInfo @recVar currentVariableInfo varID@(currentVar.AccountVariableId)">

                    <div class="accountVariableId" style="display:none;">
                        @currentVar.AccountVariableId
                    </div>

                    <div class="variableId" style="display:none;">
                        @currentVar.VariableId
                    </div>

                    <div class="variableNameBox">
                        <div class="pull-left">
                            &nbsp;
                            <a href="#" data-toggle="tooltip" data-placement="left" title="@(currentVar.VariableDescription.Length != 0 ? currentVar.VariableDescription : "No Description.")"><img src="~/Content/Images/tooltip.png" /></a>
                            &nbsp;
                        </div>
                        <div class="variableName">
                            @currentVar.VariableName
                        </div>
                        <div class="serverVariableDescriptionLabel">Computed Value:</div>
                    </div>

                    <div class="variableTextBox">
                        <textarea class="variableData" onkeyup="findReplace('@currentVar.AccountVariableId-programVal',this.value)">@currentVar.VariableData</textarea>
                        <div class="variableDataReplace" id="@currentVar.AccountVariableId-programVal">@currentVar.VariableProgramData&nbsp;</div>
                    </div>

                    <div class="variableUpdateBox" style="width:150px;">
                        <button onclick="updateSingleVariable('varID@(currentVar.AccountVariableId)')" class="btn btn-success">Update</button>
                        <button onclick="deleteSingleVariable('varID@(currentVar.AccountVariableId)')" class="btn btn-danger">Delete</button>
                    </div>

                    <div class="variableDescription" id="@currentVar.AccountVariableId-desc">
                        @currentVar.VariableDescription
                    </div>
                    <div id="divUserFeedbackMessage@(currentVar.AccountVariableId)" class="divUserFeedback"></div>

                </td>

            </tr>
        }

        @if (Model.CurrentVariables.Count > 0)
        {
            <tr class="row  changeAllBox">
                <td colspan="2" align="right">
                    <button onclick="updateAllVariables()" class="btn btn-warning">Update All</button>
                </td>
            </tr>
        }
        <tr class="row"><td colspan="2">&nbsp;</td></tr>
        <tr class="row"><td colspan="2" style="background-color:#99ff2c;color:rgba(0, 0, 0, 0.82);text-align:center;border-bottom:dashed 2px;"><b>RECOMMENDED VARIABLES</b></td></tr>
    
        @foreach (var recVar in Model.AddRecommendedVars)
        {
            <tr class="row  recVar">
                <td colspan="2" class="variableInfo addRecVariableInfo varID@(recVar.VariableId)">

                    <div class="variableId" style="display:none">
                        @recVar.VariableId
                    </div>

                    <div class="variableNameBox">
                        <div class="pull-left">
                            &nbsp;
                            <a href="#" data-toggle="tooltip" data-placement="left" title="@(recVar.VariableDescription.Length != 0 ? recVar.VariableDescription : "No Description.")"><img src="~/Content/Images/tooltip.png" /></a>&nbsp;
                            &nbsp;
                        </div>
                        <div class="variableName">
                            @recVar.VariableName
                        </div>
                    </div>

                    <div class="variableTextBox">
                        <textarea class="variableData" onkeyup="findReplace('@recVar.VariableId-programVal',this.value)">@recVar.DefaultValue</textarea>
                        <div class="variableDataReplace" id="@recVar.VariableId-programVal">&nbsp;</div>
                    </div>

                    <div class="variableUpdateBox">
                        <button onclick="addRecVariable('varID@(recVar.VariableId)')" class="btn btn-success">Add</button>
                    </div>

                    @*<div class="variableDescription" id="@recVar.VariableId-desc" style="float:left;">
                        @recVar.VariableDescription
                    </div>*@

                </td>
            </tr>
        }
     
        @if (Model.AddRecommendedVars.Count > 0)
        {
            <tr class="row changeAllBox">
                <td colspan="2">
                    <button onclick="addAllVariables()" class="btn btn-warning" align="right">Add All</button>
                </td>
            </tr>
        }

        <tr class="row"><td><hr /></td></tr>
        <tr class="row"><td colspan="2" style="background-color:#ffd800;color:rgba(0, 0, 0, 0.82);text-align:center;"><b>NON-RECOMMENDED VARIABLES</b></td></tr>

        @if (Model.AddNonRecommendedVars.Count > 0)
        {
            <tr class="row nonRecVar addNonRecVariableInfo" style="border-bottom:dashed 2px;">
                <td colspan="2">
                    <div class="variableNameBox">
                        <select id="variableAddSelect" onchange="updateSelected()">
                            @foreach (var anrVariable in Model.AddNonRecommendedVars)
                            {
                                <option value="@anrVariable.VariableId" data-varDescription="@(anrVariable.VariableDescription.Length != 0 ? anrVariable.VariableDescription : "No Description.")">@anrVariable.VariableName</option>
                            }
                        </select>
                    </div>
                    <div class="variableTextBox">
                        <textarea class="variableData" onkeyup="findReplace('newId',this.value)"></textarea>
                        <div class="variableDataReplace" id="newId">&nbsp;</div>
                    </div>

                    <div class="variableUpdateBox">
                        <button onclick="addNonRecVariable('addNonRecVariableInfo')" class="btn btn-success">Add</button>
                    </div>

                    <div id="divVarDescription" class="variableToAddDescription"></div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    
    // tooltips
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    
    // back button
    $('#btnBackNoUpdate').click(function(){
        parent.history.back();
        return false;
    });

    var replacements = [];
    var testMode = false;

    // populate a 2d arrary of find,replacewith
    @foreach (var @replacement in Model.Replacements)
        {
            <text>replacements.push(['@replacement.FindVar', '@replacement.ReplaceVar.Replace("@ServerName", Model.TierInfo.ServerName).Replace("@AccountName", Model.TierInfo.AccountName)']);@System.Environment.NewLine</text>;
        }

    // loop through the find/replace array on each user entry and modify / display the output
    function findReplace(thisId, userEntry) {

        for (var i = 0; i < replacements.length; i++) {
            userEntry = userEntry.replace(new RegExp(replacements[i][0], 'g'), replacements[i][1]);
        }

        document.getElementById(thisId).innerHTML = userEntry + '&nbsp;';
    }

    function updateSelected() {
        selectedVariableId = variableAddSelect.options[variableAddSelect.selectedIndex].value;
        $('#divVarDescription').html(variableAddSelect.options[variableAddSelect.selectedIndex].getAttribute('data-varDescription'));
    }
    updateSelected();

    function getAddNonRecRowData(className) {
        var dataTable = document.getElementsByClassName(className);

        var rowData = ({
            ServerAccountId: @Model.TierInfo.ServerAccountId,
            VariableId: variableAddSelect.options[variableAddSelect.selectedIndex].value,
            Name: variableAddSelect.options[variableAddSelect.selectedIndex].text,
            Data: dataTable[0].getElementsByClassName('variableData')[0].value.trim()
        });

        return JSON.stringify(rowData);
    }

    function getAddRecRowData(className) {
        var dataTable = document.getElementsByClassName(className);

        var rowData = ({
            ServerAccountId: @Model.TierInfo.ServerAccountId,
            VariableId: dataTable[0].getElementsByClassName('variableId')[0].innerHTML.trim(),
            Name: dataTable[0].getElementsByClassName('variableName')[0].innerHTML.trim(),
            Data: dataTable[0].getElementsByClassName('variableData')[0].value.trim()
        });

        return JSON.stringify(rowData);
    }

    function getUpdateRowData(className) {
        var dataTable = document.getElementsByClassName(className);

        var rowData = ({
            PKeyId: dataTable[0].getElementsByClassName('accountVariableId')[0].innerHTML.trim(),
            Name: dataTable[0].getElementsByClassName('variableName')[0].innerHTML.trim(),
            Data: dataTable[0].getElementsByClassName('variableData')[0].value.trim()
        });

        return JSON.stringify(rowData);
    }

    function getAllUpdateData() {
        var allData = [];
        var dataTable = document.getElementsByClassName('currentVariableInfo');

        for (var n = 0; n < dataTable.length; n++) {
            allData.push({
                PKeyId: dataTable[n].getElementsByClassName('accountVariableId')[0].innerHTML.trim(),
                Name: dataTable[n].getElementsByClassName('variableName')[0].innerHTML.trim(),
                Data: dataTable[n].getElementsByClassName('variableData')[0].value.trim()
            })
        }

        var fullObject = { data: allData };
        return JSON.stringify(fullObject);
    }

    function getAllRecAddData() {
        var allData = [];
        var dataTable = document.getElementsByClassName('addRecVariableInfo');

        for (var n = 0; n < dataTable.length; n++) {
            allData.push({
                ServerAccountId: @Model.TierInfo.ServerAccountId,
                VariableId: dataTable[n].getElementsByClassName('variableId')[0].innerHTML.trim(),
                Name: dataTable[n].getElementsByClassName('variableName')[0].innerHTML.trim(),
                Data: dataTable[n].getElementsByClassName('variableData')[0].value.trim()
            })
        }

        var fullObject = { data: allData };
        return JSON.stringify(fullObject);
    }

    function addRecVariable(className) {

        var dataStr = getAddRecRowData(className);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '@Url.Action("AddAccountVariable", "ClientAccount")',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function addNonRecVariable(className) {

        var dataStr = getAddNonRecRowData(className);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '@Url.Action("AddAccountVariable", "ClientAccount")',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });
    }

    function deleteSingleVariable(className) {

        var dataStr = getUpdateRowData(className);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '@Url.Action("DeleteAccountVariable", "ClientAccount")',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                // alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function updateSingleVariable(className) {

        var dataStr = getUpdateRowData(className);
        
        // return to accessible obj to get the variableID for feedback
        var jsonFormData = JSON.parse(dataStr);
       
        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '@Url.Action("UpdateAccountVariable", "ClientAccount")',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // user feedback
                $('#divUserFeedbackMessage' + jsonFormData.PKeyId).html("<div class='alert alert-info fade in' role='alert' id='messageAlert'><strong>UPDATED - RELOADING</strong></div>");
                // fade out/slideup in 3 seconds
                $("#messageAlert").fadeTo(1500, 500).slideUp(500, function () {
                    $("#messageAlert").alert('close');
                    location.reload();
                });
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function updateAllVariables() {
        var dataStr = getAllUpdateData();

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '@Url.Action("UpdateAccountVariables", "ClientAccount")',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });
    }

    function addAllVariables() {
        var dataStr = getAllRecAddData();

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '@Url.Action("AddAccountVariables", "ClientAccount")',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });
    }

</script>