﻿@model VendornetVariableDB.Models.v_Defaults

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>v_Defaults</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DefaultId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VariableId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VariableId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Server)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Server)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountTypeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
