﻿@model VendornetVariableDB.ViewModels.VariableIndexViewModel

@{
    ViewBag.Title = "Variable Defaults";

    // make new SelectList from model.AvailableVariables
    var DdlVariableNames = new SelectList(Model.AvailableVariables, "Id", "Name");

    // made a dictionary of varId and description
    //var dictVariableIdDescription = new Dictionary<string, string> {"jj", "jj" };

}
@Html.Partial("_LegendVariableCodeTranslation")

<script>   
    // JSON the available variables so we can match up the selected DDL value with the var description
    var JSONAvailableVariables = @Html.Raw(Json.Encode(Model.AvailableVariables));
</script>

<h2>Variable Defaults</h2>

<div>
    <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
</div>
<br />

<div class="form-group col-md-5" style="float:right; clear:left;">
    <div id="divDisplayCurrentChoices"></div>
    Description:<div id="divDisplayCurrentChoiceDescription" class="alert alert-warning divDisplayCurrentChoiceDescription"></div>
</div>

<div class="form-group">
    @Html.Label("Available Variables", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.DropDownList("VariableNames", DdlVariableNames, "Choose...", new { @id = "VariableNames", @class = "form-control", @style = "max-width:350px;" })
    </div>
</div>
<br />

<div class="form-group">
    @Html.Label("Account Types", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.DropDownList("AccountTypes", Model.AccountTypes, "Choose...", new { @id = "AccountTypes", @class = "form-control", @style = "max-width:350px;" })
    </div>
</div>
<br />

<div class="form-group">
    @Html.Label(" ", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        <button id="btnGetVariablesFromDDLs" class="form-control" style="max-width:250px;">Get Variables To Edit</button>
    </div>
</div>
<br />
<br />

<div id="" class="form-group col-md-12" style="color:white;background-color:green;height:20px;width:100%;text-align:center;vertical-align:middle;clear:both;">
    <p>*** Recommended variables are displayed in green ***</p>
</div>

<div id="divVariablesToEdit" class="form-group col-md-12"></div>
<br />
<div id="divUserFeedback" class="text-center">Please wait...<img src="@Url.Content("~/Content/Images/Loading.gif")"></div>



<script>
    $(document).ready(function () {
        // on change of DDLAccountVariables, load/switch variable description in label
        $('#VariableNames').change(function () {
            var selectedId = $("#VariableNames").find("option:selected").val();
            // iterate over each element in the array
            for (var i = 0; i < JSONAvailableVariables.length; i++) {
                // look for the entry with a matching `code` value
                if (JSONAvailableVariables[i].Id == selectedId) {
                    // we found it
                    $('#divDisplayCurrentChoiceDescription').html(JSONAvailableVariables[i].Description);
                    //console.log(JSONAvailableVariables[i].Description);
                    break;
                }
            }
        });
        // instructions modal
        var cookieInstructionsOnce = $.cookie("cookieInstructionsOnce");
        if (!cookieInstructionsOnce) {
            $('#modalInstructions').modal('show'); // show modal
            $.cookie("cookieInstructionsOnce", 1, {
                expires: 30,           //expires in 10 days
                //path: '/',          //The value of the path attribute of the cookie 
                //(default: path of page that created the cookie).
                //domain: 'gsiccorp.net',  //The value of the domain attribute of the cookie
                //(default: domain of page that created the cookie).
                secure: true          //If set to true the secure attribute of the cookie
                //will be set and the cookie transmission will
                //require a secure protocol (defaults to false).
            });// set cookie
        }
        // show instructions button
        $('#btnShowInstructionModal').click(function () {
            $('#modalInstructions').modal('show');
        });
        // back button
        $('#btnBackNoUpdate').click(function () {
            parent.history.back();
            return false;
        });
        // hide spinner initially
        $('#divUserFeedback').hide();

        // ddl onChange: blank the results and feedback divs
        $('#VariableNames, #AccountTypes').on('change', function () {
            $('#divVariablesToEdit').html('');
            $('#divDisplayCurrentChoices').html('');
        });

        // onClick 
        $("#btnGetVariablesFromDDLs").click(function () {

            // get selected value from DDLs
            var variableTypeId = $("#VariableNames").find("option:selected").val();
            var accountTypeId = $("#AccountTypes").find("option:selected").val();

            if (!variableTypeId || !accountTypeId) {
                alert('Please select from both drop-downs.');
                return;
            }
                       
            // get token from form
            var token = $('input[name="__RequestVerificationToken"]').val();

            // create model to pass
            var ajaxData = {
                __RequestVerificationToken: token,
                VariableTypeId: variableTypeId,
                AccountTypeId: accountTypeId,
                VariablesToEdit: null
            }

            // show spinner
            $('#divUserFeedback').show();

            // blank result area
            $('#divVariablesToEdit').html('');

            // ajax load to controller
            $.ajax({
                type: "post",
                url: '@Url.Action("GetVariablesToEdit", "VariableDefaults")',
                data: ajaxData,
                //datatype: "json",
                success: function (data) {
                    // hide spinner
                    $('#divUserFeedback').hide();
                    // load returned values into element
                    $('#divVariablesToEdit').html(data);
                    // user feedback: show which variables are being shown in divDisplayCurrentChoices
                    var someHTML = '<div class="alert-info">Defaults currently displayed for:<ul>' +
                                       '<li>Variable: <b>' + $("#VariableNames").find("option:selected").text() + '</b></li>' +
                                       '<li>Account Type: <b>' + $("#AccountTypes").find("option:selected").text() + '</b></li>' +
                                   '</ul></div>';
                    $('#divDisplayCurrentChoices').html(someHTML);
                },
                fail: function (data) {
                    // inform of error
                    alert("FAILED\nError: " + data.error);
                    // hide spinner
                    $('#divUserFeedback').hide();
                }
            });
          
        });

    });
</script>
