﻿@model VendornetVariableDB.Models.TierInfo

<table class="table-bordered" style="width:100%">
    <tr>
        <th class="text-center" style="width:25%"
            onclick="javascript:window.location.href='@Url.Action("Index", "Server")'; return false;">Server</th>
        <th class="text-center" style="width:25%">Account</th>
        <th class="text-center" style="width:25%">Program</th>
        <th class="text-center" style="width:25%">Process</th>
    </tr>
    <tr>
        @if (Model.ServerName != null)
        {
            <td class="text-center" 
                onclick="javascript:window.location.href='@Url.Action("Index", "ClientAccount")' + '?serverId=' + @Model.ServerId; return false;">@Model.ServerName</td>
        }
        else
        {
            <td style="background-color:black">&nbsp;</td>
        }
        @if (Model.AccountName != null)
        {
            <td class="text-center"
                onclick="javascript:window.location.href='@Url.Action("Index", "Program")' + '?serverAccountId=' + @Model.ServerAccountId; return false;">@Model.AccountName</td>
        }
        else
        {
            <td style="background-color:black">&nbsp;</td>
        }
        @if (Model.ProgramName != null)
        {
            <td class="text-center"
                onclick="javascript:window.location.href='@Url.Action("Index", "Process")' + '?serverAccountId=' + @Model.ServerAccountId + '&programId=' + @Model.ProgramId; return false;">@Model.ProgramName</td>
        }
        else
        {
            <td style="background-color:black">&nbsp;</td>
        }
        @if (Model.ProcessName != null)
        {
            <td class="text-center">@Model.ProcessName</td>
        }
        else
        {
            <td style="background-color:black">&nbsp;</td>
        }
    </tr>
</table>
