﻿@model VendornetVariableDB.ViewModels.ServerIndexViewModel
@{
    ViewBag.Title = "Servers Page";
}

<div class="jumbotron">
    @Html.Action("TierLocation", "Partials", Model.TierInfo)
    <p class="lead">Please select the <b>SERVER</b> whose variables you would like to modify.</p>
    <span>
        <select id="serverSelect">
            @foreach (var server in Model.AllServers)
            {
                <option value="@server.ServerId">@server.ServerName</option>
            }
        </select>
        <button id="btnServerVariables" class="btn btn-primary btn-lg">Modify Server Variables</button>
        <button id="btnServerAccounts" class="btn btn-primary btn-lg">View Accounts &raquo;</button>
    </span>
    <div>
        <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnServerVariables").click(function () {
            location.href = '@Url.Action("Modify", "Server")' + '?serverId=' + $("#serverSelect").find("option:selected").val();
        });
        $("#btnServerAccounts").click(function () {
            location.href = '@Url.Action("Index", "ClientAccount")' + '?serverId=' + $("#serverSelect").find("option:selected").val();
        });
        // back button
        $('#btnBackNoUpdate').click(function () {
            parent.history.back();
            return false;
        });
    });
</script>
