﻿@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Manage User Roles</h2>
@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />

<h2>Select a User</h2>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Username : @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...", new {@class = "form-control", onload = "$('#UserName').prop('selectedIndex', -1);", onchange = "if (document.getElementById('UserName').options[document.getElementById('UserName').selectedIndex].value != '') {this.form.submit();} " })
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div>
        <h2>Roles for this user </h2>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

@if (ViewBag.NotContainedRoles != null)
{
    <h2>Add Role for User:</h2>
    using (Html.BeginForm("RoleAddToUser", "Roles"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            <span style="display:none;">Username : @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users)</span>
            Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.NotContainedRoles, new { @class = "form-control" })

        </p>

        <input type="submit" value="Save" class="form-control" />
    }
}

@if (ViewBag.ContainedRoles != null)
{
    <h2>Delete User from Role:</h2>
    using (Html.BeginForm("DeleteRoleForUser", "Roles"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            <span style="display:none;">Username : @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users)</span>
            Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.ContainedRoles, new { @class = "form-control" })

        </p>

        <input type="submit" value="Delete this user from Role" class="form-control" />
     }
}




