﻿@{ 
    // for Help
    var anchorHelpFAQDataSection = "anchor" +  ViewContext.RouteData.Values["controller"].ToString().ToLower() + ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vendornet Variable DB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script>
        function scrollTo(hash) {
            location.hash = "#" + hash;
        }
    </script>
</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color:white;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/logo.png" class="" /> &nbsp;              
                @*@Html.ActionLink("Vendornet Variable DB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "" })</li>
                    <li>@Html.ActionLink("Servers", "Index", "Server", null, new { @class = "" })</li>
                    <li class="dropdown">                        
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">System Setup<b class="caret"></b></a>
                        <ul class="dropdown-menu list">
                            <li>@Html.ActionLink("Server Setup", "Servers", "SystemSetup", null, new { @class = "" })</li>
                            <li>@Html.ActionLink("Account Types", "ClientAccountTypes", "SystemSetup", null, new { @class = "" })</li>
                            <li>@Html.ActionLink("Accounts", "ClientAccounts", "SystemSetup", null, new { @class = "" })</li>
                            <li>@Html.ActionLink("Programs", "Programs", "SystemSetup", null, new { @class = "" })</li>
                            <li>@Html.ActionLink("Processes", "Processes", "SystemSetup", null, new { @class = "" })</li>
                            <li>@Html.ActionLink("Variables", "Variables", "SystemSetup", null, new { @class = "" })</li>
                            <li>@Html.ActionLink("Variable Defaults", "Index", "VariableDefaults", null, new { @class = "" })</li>
                            <li>@Html.ActionLink("Variable Mapping", "Index", "VariableMapping", null, new { @class = "" })</li>
                        </ul>                                             
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("User Role Management", "Index", "Roles", null, new { @class = "" })</li>
                        </ul>   
                    </li>
                    <li><a id="btnShowHelpModal" data-section="@(anchorHelpFAQDataSection)">Help</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
                @*<p class="nav navbar-text navbar-right">Hello, @SimpleObjects.GetUserFullName()</p>*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vendornet Variable DB</p>
        </footer>
    </div>

    <!-- Help/F.A.Q. Modal -->
    <div id="modalHelpFAQ" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help / F.A.Q.</h4>
                </div>
                <div class="modal-body model-body-help" id="ModalHelpBody">
                    <a href="#" id=""></a>
                    <div class="" name="anchorhomeindex">
                        <h4>Home</h4>
                        <p>Servers - Start you through the process of editing variables on each server/account/program/process</p>
                        <p>System Setup - aAl the things needed to setup the servers and variables.</p>
                        <p>You can access these links from the top menu as well.</p>                        
                    </div>
                    <div class="" name="anchormodifyvariables">
                        <h4>MODIFY VARIABLES</h4>
                        <p>Update any existing variable value you want and ciick <b>'Update'.</b></p>
                        <p>Click <b>'Delete'</b> next to any variable you wish to remove.</p>
                        <p>Add new variables from the Recommended Variables or Non-Recommended Variables Section.</p>
                    </div>
                    <div class="" name="anchorserverindex">
                        <h4>SERVERS</h4>
                        <p>Choose a <b>SERVER</b> from the drop down.</p>
                        <p>Clicking <b><i>'Modify Server Variables'</i></b> will allow you to modify the variables for this <b>SERVER</b>.</p>
                        <p>Clicking <b><i>'View Accounts'</i></b> will allow you to edit the <b>ACCOUNTS</b> for the <b>SERVER</b> in the dropdown.</p>
                    </div>
                    <div class="" name="anchorclientaccountindex">
                        <h4>ACCOUNTS</h4>
                        <p>Choose an <b>ACCOUNT</b> from the drop down.</p>
                        <p>Clicking <b><i>'Modify Account Variables'</i></b> will allow you to modify the variables for this <b>ACCOUNT</b>.</p>
                        <p>Clicking <b><i>'View Programs'</i></b> will allow you to edit the <b>PROGRAMS</b> for the <b>ACCOUNT</b>in the dropdown.</p>
                    </div>                   
                    <div class="" name="anchorprogramindex">
                        <h4>PROGRAMS</h4>
                        <p>Choose a <b>PROGRAM</b> from the drop down.</p>
                        <p>Clicking <b><i>'Modify Program Variables'</i></b> will allow you to modify the variables for this <b>Program</b>.</p>
                        <p>Clicking <b><i>'View Program Variables'</i></b> will allow you to edit the <b>PROCESSES</b> for the <b>PROGRAM</b> in the dropdown.</p>
                    </div>
                    <div class="" name="anchorprocessindex">
                        <h4>PROCESSES</h4>
                        <p>Choose a <b>PROCESS</b> from the drop down.</p>
                        <p>Clicking <b><i>'Modify Process Variables'</i></b> will allow you to modify the variables for the <b>PROCESS</b> in the dropdown.</p>
                        <p>Clicking <b><i>'View Running Process Variables'</i></b> will allow you to view all running processes.</p>
                    </div>
                    <div class="" name="anchorvariabledefaultsindex">
                        <h4>MODIFY VARIABLE DEFAULTS</h4>
                        <p>First, select from the drop downs. Choose an 'available variable' and an 'account type' and then click 'Get Variables To Edit'.</p>
                        <p>You will be presented with the available levels in which you can make entries and update.</p>
                        <p>The recommended variables/levels are backgrounded in green.</p>
                    </div>
                    <div class="" name="anchorvariablemappingindex">
                        <h4>MODIFY VARIABLE MAPPINGS</h4>
                        <p>First, select from the drop down what <b>Program</b> you wish to make variables available for.</p>
                        <p>Then, if there are <b>Processes</b> mapped to this <b>Program</b>, you will be presented with a second drop down for <b>'Processes'</b>.</p>
                        <p>Choose which <b>Process</b> you wish to modify mapped variables for in the second drop down</p>
                        <p>When presented with two columns, one green, one red, you can drag/drop back and forth between them.</p>
                        <p>Moving a variable to the right side assigns the variable to this <b>Program</b> or <b>Process</b>. </p>
                        <p>Toggling the checkbox will make the variable required or not.</p>
                        <p>Finally, clicking <b>'Save Mappings'</b> will complete the changes made.</p>
                    </div>
                    <div class="" name="anchorprocessrunning">
                        <h4>RUNNING PROCESSES</h4>
                        <p>You are being shown the current variables in use. The legend on the right hand side explains the symbols.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            // on click, show help modal
            $('#btnShowHelpModal').click(function (e) {
                $('#modalHelpFAQ').modal('show');
            });

            // on modal shown, scroll to specific help section if available
            $('#modalHelpFAQ').on('shown.bs.modal', function (event) {
                setTimeout(function () {
                    // reset the scroll to top
                    $('#modalHelpFAQ .modal-body').scrollTop(0);
                    // get offset of current page's section
        @{ 
            if (anchorHelpFAQDataSection.Contains("modify"))
            {
                anchorHelpFAQDataSection = "anchormodifyvariables";
            }
        }
                    var section = $('[name="@(anchorHelpFAQDataSection)"]');
                    if (section) {
                        section.addClass("alert alert-info");
                        var sectionOffset = section.offset().top;
                        //alert('sectionOffset=' + sectionOffset);
                        //scroll the section
                        $('#modalHelpFAQ .modal-body').animate({
                            scrollTop: sectionOffset - 80
                        }, "slow");
                    }
                }, 300);
            });

        });
    </script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
        

</body>
</html>
