﻿<div id="legendCodes" class="divLegend alert alert-info">
    Symbol - Description
    <ul style="list-style-type: none;">
        <li><div class="badge" style="background-color:khaki; color:black">S</div>&nbsp;&nbsp; Server</li>
        <li><div class="badge" style="background-color:khaki; color:black">A</div>&nbsp;&nbsp; Acount</li>
        <li><div class="badge" style="background-color:khaki; color:black">P</div>&nbsp;&nbsp; Program</li>
        <li><div class="badge" style="background-color:khaki; color:black">PP</div> Process</li>
    </ul>
    Clicking one will edit that value<br />at that level.
    <br />
    <br />
    Yellow means 'in use'.<br />
    Grey means 'overridden'.
    <br />
    <br />
    Example:
    <ul style="list-style-type: none;">
        <li>
            <div class="badge" style="">S</div>
            <div class="badge" style="background-color:khaki; color:black">P</div>
        </li>
    </ul>
    Program level set<br />overrides Server level.
</div>
