﻿<div id="legendCodes" class="divLegend alert alert-info">
    Code Translation Legend
    <ul>
        <li>% - ProcessName%</li>
        <li>%AccountName%</li>
        <li>%ProcessName%</li>
        <li>%ProcessName/%</li>
        <li>%ProcessName\%</li>
        <li>%ProgramName%</li>
        <li>%ProgramProcessName%</li>
        <li>%ServerName%</li>
    </ul>
</div>
