﻿@model VendornetVariableDB.ViewModels.ProcessVariableMapsToReturnViewModel
@{
    Layout = null;
    ViewBag.Title = "";
}

<div class="text-center" style="margin-bottom:5px;">
    <button onclick="ddlProcessesChanged()" class="btn btn-default">Reset</button>
    <button onclick="AddUpdateVariables()" class="btn btn-success">Save Mappings</button>
</div>

@* LEFT DIV *@
<div class="col-md-5">
    <div class="pull-right">
        @Html.Label("Available Variables", htmlAttributes: new { @class = "control-label" })
        <div class="">Drag any to the right box to add.</div>
        <ul id="listAvailableVariables" class="connectedSortable variableAvailableUL text-right">
            @foreach (var availableVariable in Model.AvailableVariables)
            {
                <li id="@(availableVariable.Value)" value="@(availableVariable.Value)">@(availableVariable.Text)&nbsp;<input type="checkbox" id="VarIsRequired@(availableVariable.Value)" checked="checked" /></li>
            }
        </ul>
    </div>  
</div>

@* RIGHT DIV *@
<div class="col-md-offset-5">
    @Html.Label("Process Level", htmlAttributes: new { @class = "control-label" })
    <div class="">* check the box for 'required' next to each variable</div>
    <ul id="listExistingProcessVariableMaps" class="connectedSortable ui-sortable variableAssignedUL">
        @foreach (var processMapping in Model.ExistingProcessVariableMaps)
        {
            <li id="@(processMapping.VariableId)" value="@(processMapping.VariableId)" class="ui-state-default">@(processMapping.Variable.VariableName)&nbsp;<input type="checkbox" id="VarIsRequired@(processMapping.VariableId)" @{if (processMapping.Required) { <text>checked="checked"</text> }} /></li>
        }
    </ul>
</div>


<script>

    function AddUpdateVariables() {

        // get all ids of 'assigned' variables
        $("#listExistingProcessVariableMaps").sortable();
        var assignedLiIds = $("#listExistingProcessVariableMaps").sortable("toArray");

        // data model to POST
        var itemData = [];

        // loop through each id and get checkbox value
        $.each(assignedLiIds, function (index, value) {
            var IsChecked = $("#VarIsRequired" + value).prop("checked");
            itemData.push({ VariableId: value, IsRequired: IsChecked });
        });

        // current ProcessId from previous ddl selection
        var currentProcessId = $('#ddlProcesses').find("option:selected").val();

        // fill model
        var model = {
            ProcessID: currentProcessId,
            AssignedVariables: itemData
        };

        // create ajaxData to pass
        var ajaxData = {
            model: model
        };

        // show spinner
        $('#divUserFeedback').show();

        // ajax load
        $.ajax({
            type: "post",
            url: '@Url.Action("AddProcessVariableMap", "VariableMapping")',
            data: ajaxData,
            //datatype: "json",
            success: function (response) {
                if (response.IsSuccess) {
                    // hide spinner
                    $('#divUserFeedback').hide();
                    // tell them success; send message to Index page feedback placeholder
                    $('#divUserFeedbackMessage').html("<div class='alert alert-info fade in' role='alert' id='messageAlert'><strong>Your mappings have been saved!</strong></div>");
                    // fade out/slideup in 3 seconds
                    $("#messageAlert").fadeTo(2500, 500).slideUp(500, function () {
                        $("#messageAlert").alert('close');
                    });
                    // reload the variables from the method on the Index
                    ddlProcessesChanged();
                } else {
                    alert("Something went wrong. The error message was:\n" + response.Message);
                }
            },
            fail: function (response) {
                // inform of error
                alert("FAILED\nError: " + response.error);
                // hide spinner
                $('#divUserFeedback').hide();
            }
        });

    }

    function SortBoxes(event, ui) {
        // sorts box alphabetically
        var mylist = $('#listExistingProcessVariableMaps');
        var listitems = mylist.children('li').get();
        listitems.sort(function (a, b) {
            var compA = $(a).text().toUpperCase();
            var compB = $(b).text().toUpperCase();
            return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
        });
        $.each(listitems, function (idx, itm) {
            mylist.append(itm);
        });
        // sort the other box
        var mylist2 = $('#listAvailableVariables');
        var listitems2 = mylist2.children('li').get();
        listitems2.sort(function (a, b) {
            var compA2 = $(a).text().toUpperCase();
            var compB2 = $(b).text().toUpperCase();
            return (compA2 < compB2) ? -1 : (compA2 > compB2) ? 1 : 0;
        });
        $.each(listitems2, function (idx, itm) {
            mylist2.append(itm);
        });
    }

    $(document).ready(function () {

        $(function () {
            $("#listAvailableVariables, #listExistingProcessVariableMaps").sortable({
                connectWith: ".connectedSortable",
                create: function (event, ui) {
                    SortBoxes(event, ui);
                },
                receive: function (event, ui) {
                    //alert('Receive! AJAX it over!');
                },
                stop: function (event, ui) {
                    //alert('Moved..');
                },
                update: function (event, ui) {
                    SortBoxes(event, ui);                  
                }
            }).disableSelection();
        });

    });
</script>