﻿@model VendornetVariableDB.ViewModels.VariableGetVariablesToEditViewModel

@{
    Layout = null;
    ViewBag.Title = "";

    // this counter is for user feedback
    var counter = 1;
}

<style>
    .serverLevelDiv{
        background-color:rgba(255, 106, 0, 0.19);
    }
    .accountLevelDiv{
        background-color:rgba(255, 216, 0, 0.23);
    }
    .programLevelDiv{
        background-color:rgba(223, 255, 210, 0.22);
    }
    .programGroupDiv{
        background-color:rgba(237, 237, 237, 0.48);
        margin-top:10px;
        margin-bottom:10px;
    }

</style>

<div class="container">
    @foreach (var group in Model.VariablesToEdit.OrderBy(x => x.LevelId).GroupBy(item => item.LevelId))
    {
        switch (group.Key)
        {
            case 1:
                @:<b>Server Level</b>
                @:<div id="ServerLevel" class="serverLevelDiv">
                break;
            case 2:
                @:<b>Account Level</b>
                @:<div id="AccountLevel" class="accountLevelDiv">
                break;
            case 3:
                @:<b>Program Level</b>&nbsp;<button data-toggle="collapse" data-target="#ProgramLevel" class="btn btn-default">Open/Close</button>
                @:<div id="ProgramLevel" class="collapse programLevelDiv">
                break;
                @*case 4:
                    @:<b>Process Level</b>&nbsp;<button data-toggle="collapse" data-target="#ProcessLevel">Open/Close</button>
                    @:<div id="ProcessLevel" class="collapse" style="background-color:#00ffff;">
                    break;*@
        }
        <br />

        if (group.Key < 3)
        {
            foreach (var item in group)
            {
                var recommendedVariableBgColor = string.Empty;
                if (item.DefaultLevel == item.ThisLevel)
                {
                    recommendedVariableBgColor = "background-color:green;color:white;";
                }
                <div class="form-group" style="height:35px;@(recommendedVariableBgColor)">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-7">
                        <ul class="list-inline">
                            <li><input type="text" id="@(counter.ToString())" class="form-control" style="width:500px;max-width:500px;" value="@(item.DefaultValue)" /></li>
                            <li><button class="btn btn-success" onclick="javascript:UpdateDefaultValueOf('@(counter.ToString())',@(item.Server.Value.ToString().ToLower()),'@(item.Account.Value.ToString().ToLower())', '@(Model.AccountTypeId)','@(item.ProgramId)','@(item.ProcessId)');">Update</button></li>
                        </ul>
                    </div>
                    <div id="feedback@(counter.ToString())" class="col-md-2"></div>
                </div>
                // increment counter
                counter++;
                <br />
                @:</div>
            }
        }
        else if (group.Key == 3)
        {
            // group by program name
            foreach (var subGroup in group.GroupBy(z => z.ProgramName).OrderBy(x => x.Key))
            {
                // PROGRAM LEVEL:
                var expandThisProgramLevel = false;

                @Html.Label(subGroup.Key ?? string.Empty)
                var programLevelVar = subGroup.FirstOrDefault();

                var recommendedVariableClass = string.Empty;
                if (programLevelVar.DefaultLevel == programLevelVar.ThisLevel)
                {
                    recommendedVariableClass = "variableDefaultRecommendedVariable";
                    expandThisProgramLevel = true;
                }
                <div class="form-group variableDefaultsProcessLevelRow @(recommendedVariableClass)">
                    <div class="col-md-3">
                        <i>Program Level</i>
                        <div class="pull-left">
                            &nbsp;
                            <a href="#" data-toggle="tooltip" data-placement="left" title="@(programLevelVar.VariableDescription != null ? programLevelVar.VariableDescription : "No Description.")"><img src="~/Content/Images/tooltip.png" /></a>
                            &nbsp;
                        </div>
                    </div>
                    <div class="col-md-7">
                        <ul class="list-inline">
                            <li><input type="text" id="@(counter.ToString())" class="form-control" style="width:500px;max-width:500px;" value="@(programLevelVar.DefaultValue)" /></li>
                            <li><button class="btn btn-success" onclick="javascript:UpdateDefaultValueOf('@(counter.ToString())',@(programLevelVar.Server.Value.ToString().ToLower()),'@(programLevelVar.Account.Value.ToString().ToLower())', '@(Model.AccountTypeId)','@(programLevelVar.ProgramId)','@(programLevelVar.ProcessId)');">Update</button></li>
                        </ul>
                    </div>
                    <div id="feedback@(counter.ToString())" class="col-md-2"></div>
                </div>
                // expand it if thisLevel matches DefaultLevel
                if (expandThisProgramLevel)
                {
                    <script>
                        $('#ProgramLevel').collapse('show');
                    </script>
                }
                // increment counter
                counter++;

                // PROCESS LEVEL: get all vars(processes) under this program name
                // flags to know to expand this group with jQuery after loaded if one var in list is recommended
                var expandThisGroup = false;
                var programLevelOpenCloseId = "programGroupDiv" + counter;

                <button data-toggle="collapse" data-target="#@(programLevelOpenCloseId)" class="btn btn-default">Open/Close</button>
                <i>&nbsp;&nbsp;&nbsp;Process Level</i>
                <br />
                <br />

                var processList = Model.VariablesToEdit
                .Where(x => x.LevelId == 4 && x.ProgramName == subGroup.Key)
                .OrderBy(x => x.ProcessName);
                
                <div id="@(programLevelOpenCloseId)" class="collapse programGroupDiv">
                    @foreach (var item in processList)
                    {
                        recommendedVariableClass = string.Empty;
                        if (item.DefaultLevel == item.ThisLevel)
                        {
                            recommendedVariableClass = "variableDefaultRecommendedVariable";
                            expandThisGroup = true;
                        }
                        <div class="form-group variableDefaultsProcessLevelRow @(recommendedVariableClass)">
                            <div class="col-md-3 variableDefaultsProcessLevelVarName">
                                @if (item.LevelId == 4) // at Process Level show process name
                                {
                                    if (!string.IsNullOrEmpty(item.ProcessName))
                                    {
                                        @(item.ProcessName.Trim())
                                    }
                                }
                            </div>
                            <div class="col-md-7">
                                <ul class="list-inline" style="vertical-align:middle;">
                                    <li><input type="text" id="@(counter.ToString())" class="form-control" style="width:500px;max-width:500px;" value="@(item.DefaultValue)" /></li>
                                    <li><button class="btn btn-success" onclick="javascript:UpdateDefaultValueOf('@(counter.ToString())',@(item.Server.Value.ToString().ToLower()),'@(item.Account.Value.ToString().ToLower())', '@(Model.AccountTypeId)','@(item.ProgramId)','@(item.ProcessId)');">Update</button></li>
                                </ul>
                            </div>
                            <div id="feedback@(counter.ToString())" class="col-md-2"></div>
                        </div>
                        // increment counter
                        counter++;
                    }
                </div>
                // expand it if thisLevel matches DefaultLevel
                if (expandThisGroup)
                {
                    <script>
                            $('#ProgramLevel').collapse('show');
                            $('#@(programLevelOpenCloseId)').collapse('show');
                    </script>
                }
                <hr />
            }
        @:</div>
        }
        <br />
    }
</div>

<script>

    // tooltips
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    // must be outside jquery .ready or won't be visible to regular js
    function UpdateDefaultValueOf(vCounterValue, vServer, vAccount, vAccountType, vProgramId, vProcessId) {

        // get input value from selected element
        var inputValue = $("input[id=" + vCounterValue + "]").val();

        // if input blank, return/advise
        if (inputValue.length < 1) {
            // user feedback (cool bootstrap/jquery combo)
            $("#feedback" + vCounterValue).html('<div class="alert alert-danger fade in" role="alert" id="MessageAlert" style="height:40px;line-height:13px;">Enter a Value.</div>');
            // close it after a delay
            $("#MessageAlert").fadeTo(2000, 500).slideUp(500, function () {
                $("#MessageAlert" + vCounterValue).alert('close');
                $("#feedback" + vCounterValue).html('');
            });
            return;
        }

        var variableId = '@(Model.VariableTypeId)';

        // debugging
        //alert("vCounterValue=" + vCounterValue + "\ninputValue=" + inputValue + "\nvServer=" + vServer + "\nvAccount=" + vAccount + "\nvAccountType=" + vAccountType + "\nvProgramId=" + vProgramId + "\nvProcessId=" + vProcessId);

        // get token from form
        var token = $('input[name="__RequestVerificationToken"]').val();

        // create VariableUpdateViewModel to pass
        var ajaxData = {
            __RequestVerificationToken: token,
            VariableId: variableId,
            Server: vServer,
            Account: vAccount,
            AccountType: vAccountType,
            ProgramId: vProgramId,
            ProcessId: vProcessId,
            DefaultValue: inputValue
        }

        // show spinner
        $("#feedback" + vCounterValue).html('<div class="">Please wait...<img src="@Url.Content("~/Content/Images/Loading.gif")"></div>');

        // ajax load to controller
        $.ajax({
            type: "post",
            url: '@Url.Action("UpdateVariable", "VariableDefaults")',
            data: ajaxData,
            //datatype: "json",
            success: function (data) {
                if (data.IsSuccess) {
                    // user feedback (cool bootstrap/jquery combo)
                    $("#feedback" + vCounterValue).html('<div class="alert alert-info fade in" role="alert" id="MessageAlert"><b>Successfully Updated!</b></div>');
                    // close it after a delay
                    $("#MessageAlert").fadeTo(3000, 500).slideUp(500, function () {
                        $("#MessageAlert" + vCounterValue).alert('close');
                        $("#feedback" + vCounterValue).html('');
                    });
                } else {
                    // user feedback (cool bootstrap/jquery combo)
                    $("#feedback" + vCounterValue).html('<div class="alert alert-danger fade in" role="alert" id="MessageAlert"><b>' + data.Message + '</b></div>');
                    // close it after a delay
                    $("#MessageAlert").fadeTo(3500, 500).slideUp(500, function () {
                        $("#MessageAlert" + vCounterValue).alert('close');
                        $("#feedback" + vCounterValue).html('');
                    });
                }
            },
            fail: function (data) {
                // inform of error
                alert("FAILED\nError: " + data.error);

                // hide spinner
                $('#divUserFeedback').hide();
            }
        });

    }
</script>
