﻿@model VendornetVariableDB.ViewModels.VariableAccountTypeViewModel

@{
    Layout = null;
    ViewBag.Title = "";
}

@Html.Label("Account Types", htmlAttributes: new { @class = "control-label col-md-2" })
<div class="col-md-10">
    @Html.DropDownList("AccountType", Model.AccountTypes, "Choose...", new { htmlAttributes = new { @class = "form-control" } })
</div>


<script>
    $(document).ready(function () {      

        // onChange of the DDL
        $("#AccountType").change(function () {

            // get selected value from DDL
            var redirAccountTypeId = $("#AccountType").find("option:selected").val();

            // get token from form
            var token = $('input[name="__RequestVerificationToken"]').val();

            // create model to pass
            var ajaxData = {
                __RequestVerificationToken: token,
                id: redirAccountTypeId
            }

            // show spinner
            $('#divUserFeedback').show();

            // ajax load values for this UserStory
            $.ajax({
                type: "post",
                url: '@Url.Action("GetVariablesToEdit", "Variables")',
                data: ajaxData,
                //datatype: "json",
                success: function (data) {
                    // load returned values into form element
                    $('#divVariablesToEdit').html(data);
                    // hide spinner
                    $('#divUserFeedback').hide();
                },
                fail: function (data) {
                    // inform of error
                    alert("FAILED\nError: " + data.error);
                    // hide spinner
                    $('#divUserFeedback').hide();
                }
            });
        });

    });
</script>