﻿@using VendornetVariableDB.Models
@{
    ViewBag.Title = "Accounts Page";
}

@{
    var accounts = (List<Account>)ViewData["Accounts"];
}

<div class="jumbotron">
    <!--<h1>Vendornet Variable DB</h1>-->
    <h1>Client Selection</h1>
    <p class="lead">Please select the client whose variables you would like to modify.</p>
    <select id="clientSelect">
        @foreach (var account in accounts)
        {
            <option value="@account.AccountId">@account.AccountName</option>
        }
    </select>

    <p><button onclick="getAccountVariables()" class="btn btn-primary btn-lg">Modify Account Variables &raquo;</button></p>
    <p><button onclick="getClientPrograms()" class="btn btn-primary btn-lg">View Programs &raquo;</button></p>
    <!--    <p><a href="/Home/About" class="btn btn-primary btn-lg">Select &raquo;</a></p> -->
</div>

<script>

    var clientSelect = document.getElementById("clientSelect");
    var selectedAccountId = clientSelect.options[clientSelect.selectedIndex].value;

    function getClientPrograms() {
        selectedAccountId = clientSelect.options[clientSelect.selectedIndex].value;
        window.location.href = '/Program?accountId=' + selectedAccountId;
    }

    function getAccountVariables() {
        selectedAccountId = clientSelect.options[clientSelect.selectedIndex].value;
        window.location.href = '/Account/Modify?accountId=' + selectedAccountId;
    }
</script>
