﻿@using VendornetVariableDB.Models
@{
    ViewBag.Title = "Account Variables Modify.";
}

@{
    var accountName = (string)ViewData["AccountName"];
    var accountVariables = (List<NamedAccountVariable>)ViewData["AccountVariables"];
}
<h1>@accountName</h1>
<div>
    <div style="font-weight:bold;">
        <div style="float:left; width:30%;">
            Variable Name
        </div>
        <div style="float:left;width:70%;">
            Variable Data
        </div>
    </div>

    @foreach (var accountVariable in accountVariables)
    {
        <div class="variableInfo varID<@accountVariable.AccountVariableId>" style="clear:both;height:50px; border-top:solid 1px gray; padding-top:12px;">

            <div class="variableId" style="display:none;">
                @accountVariable.AccountVariableId
            </div>

            <div class="variableName" style="float:left; width:30%;">
                @accountVariable.VariableName
            </div>

            <div style="float:left; width:50%;">
                <textarea class="variableData" rows="1" cols="50">@accountVariable.VariableData</textarea>
            </div>

            <div style="float:left; width:20%;">
                <button onclick="updateSingleVariable('varID<@accountVariable.AccountVariableId>')">Save</button>
            </div>

        </div>
    }
    <div style="float:left; width:20%;">
        <button onclick="updateAllVariables()">Save All</button>
    </div>
</div>



<script>
    function getRowData(className) {
        var dataTable = document.getElementsByClassName(className);

        var rowData = ({
            Name: dataTable[0].getElementsByClassName('variableName')[0].innerHTML.trim(),
            ID: dataTable[0].getElementsByClassName('variableId')[0].innerHTML.trim(),
            Data: dataTable[0].getElementsByClassName('variableData')[0].value.trim()
        });

        return JSON.stringify(rowData);
    }

    function getAllData() {
        var allData = [];
        var dataTable = document.getElementsByClassName('variableInfo');

        for(var n = 0; n<dataTable.length; n++)
        {
            allData.push({
                Name: dataTable[n].getElementsByClassName('variableName')[0].innerHTML.trim(),
                ID: dataTable[n].getElementsByClassName('variableId')[0].innerHTML.trim(),
                Data:dataTable[n].getElementsByClassName('variableData')[0].value.trim()
            })
        }

        var fullObject = {data: allData};
        return JSON.stringify(fullObject);
    }



    function updateSingleVariable(className) {

        var dataStr = getRowData(className);
        
        $.ajax({
            dataType: 'json',
            url: '/Account/UpdateAccountVariable',
            type: 'POST',
            data: {values: dataStr },
            success: function (result) {
                alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });
    }

    function updateAllVariables() {
        var dataStr = getAllData();

        $.ajax({
            dataType: 'json',
            url: '/Account/UpdateAccountVariables',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });
    }
</script>