﻿@model VendornetVariableDB.ViewModels.ProgramIndexViewModel
@{
    ViewBag.Title = "Program Select";
}

<div class="jumbotron">
    @Html.Action("TierLocation", "Partials", Model.TierInfo)

    <p class="lead">Please select the <b>PROGRAM</b> whose variables you would like to modify.</p>
    <span>
        <select id="programSelect">
            @foreach (var program in Model.AllPrograms)
            {
                <option value="@program.ProgramId">@program.ProgramName</option>
            }
        </select>
        <button id="btnProgramVariables" class="btn btn-primary btn-lg">Modify Program Variables</button>
        <button id="btnGetProcesses" class="btn btn-primary btn-lg">View Processes &raquo;</button>
    </span>
    <div id="divUserFeedbackMessage" class="divUserFeedback" style="padding-left:20%; width:auto"></div>
    <div>
        <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        // back button
        $('#btnBackNoUpdate').click(function () {
            parent.history.back();
            return false;
        });
        $("#btnProgramVariables").click(function () {
            $.ajax({
                //dataType: 'json',
                type: 'GET',
                url: '@Url.Action("GetVariableCountBool", "Program")' + '?serverAccountId=' + @(Model.TierInfo.ServerAccountId) + '&programId=' + $("#programSelect").find("option:selected").val(),
                success: function (response) {
                    if (response == true) { // there are variables, move to next page
                        location.href = '@Url.Action("Modify", "Program")' + '?serverAccountId=' + @(Model.TierInfo.ServerAccountId) + '&programId=' + $("#programSelect").find("option:selected").val()
                    }
                    else { // no variables, warn user, stop
                        // user feedback
                        $('#divUserFeedbackMessage').html("<div class='alert alert-danger fade in' role='alert' id='messageAlert'><strong>No variables are mapped to " +
                            $("#programSelect").find("option:selected").text() + ".<br />Please map variables via System Setup -> Variable Mapping</strong></div>");
                        // fade out/slideup in 5 seconds
                        $("#messageAlert").fadeTo(5000, 500).slideUp(500, function () {
                            $("#messageAlert").alert('close');
                        });
                    }
                },
                error: function (response) {                   
                    // user feedback
                    $('#divUserFeedbackMessage').html("<div class='alert alert-danger fade in' role='alert' id='messageAlert'>Server Error: <br /><strong>" + response + "</strong></div>");
                    // fade out/slideup in 5 seconds
                    $("#messageAlert").fadeTo(5000, 500).slideUp(500, function () {
                        $("#messageAlert").alert('close');
                    });                   
                }
            })
        });
        $("#btnGetProcesses").click(function () {
            location.href = '@Url.Action("Index", "Process")' + '?serverAccountId=' + @(Model.TierInfo.ServerAccountId) + '&programId=' + $("#programSelect").find("option:selected").val();
        });
    });
</script>