﻿@using VendornetVariableDB.Models
@{
    ViewBag.Title = "Accounts Modify.";
}

@{
    var currentAccounts = (List<v_Accounts>)ViewData["currentAccounts"];
    var accountTypes = (List<AccountType>)ViewData["accountTypes"];
}

<table class="table table-hover table-striped">
    <tr class="row">
        <td>
            <h2>Accounts</h2>
        </td>
    </tr>

    <tr class="row">
        <td>
            <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
        </td>
    </tr>

    @foreach (var currentAccount in currentAccounts)
    {
        <tr class="row" style="border-top:2px dashed;">

            <td class="setupInfo currentAccountInfo varID<@currentAccount.AccountId>" style="width:100%;">

                <div class="setupId" style="display:none;">
                    @currentAccount.AccountId
                </div>

                <div class="setupTextBox">
                    <textarea class="setupData">@currentAccount.AccountName</textarea>
                </div>

                <div class="variableNameBox">
                    <select id="variableAddSelect<@currentAccount.AccountId>">
                        @foreach (var accountType in accountTypes)
                        {
                            if (currentAccount.AccountType == accountType.AccountType1)
                            {
                                <option value="@accountType.AccountType1" selected="selected">@accountType.AccountTypeDesc</option>
                            }
                            else
                            {
                                <option value="@accountType.AccountType1">@accountType.AccountTypeDesc</option>
                            }
                        }
                    </select>
                </div>

                <div class="setupUpdateBox">
                    <button onclick="updateSingleClientAccount('@currentAccount.AccountId')" class="btn btn-default">Update</button>
                    <button onclick="deleteSingleClientAccount('@currentAccount.AccountId')" class="btn btn-danger">Delete</button>
                </div>

            </td>

        </tr>
    }

    <tr class="row"><td><hr /></td></tr>
    <tr class="row"><td style="background-color:#428bca;color:white;"><b>CREATE NEW</b></td></tr>
    <tr class="row">
        <td class="setupInfo currentAccountInfo varID<-1>">
            <div class="setupId" style="display:none;">
                -1
            </div>

            <div class="setupTextBox">
                <textarea class="setupData"></textarea>
            </div>

            <div class="variableNameBox">
                <select id="variableAddSelect<-1>">
                    @foreach (var accountType in accountTypes)
                    {
                        <option value="@accountType.AccountType1">@accountType.AccountTypeDesc</option>
                    }
                </select>
            </div>

            <div class="setupUpdateBox">
                <button onclick="addSingleClientAccount('-1')" class="btn btn-success">Add</button>
            </div>

        </td>

    </tr>

</table>

<script>
    // back button
    $('#btnBackNoUpdate').click(function () {
        parent.history.back();
        return false;
    });

    var testMode = false;

    function getRowData(id) {
        var dataTable = document.getElementsByClassName('varID<' + id + '>');
        var selected = document.getElementById('variableAddSelect<' + id + '>')

        var rowData = ({
            AccountId: dataTable[0].getElementsByClassName('setupId')[0].innerHTML.trim(),
            Name: dataTable[0].getElementsByClassName('setupData')[0].value.trim(),
            AccountTypeId: selected.options[selected.selectedIndex].value
        });

        return JSON.stringify(rowData);
    }

    function addSingleClientAccount(id) {

        var dataStr = getRowData(id);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '@(Url.Action("AddClientAccount", "SystemSetup"))',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function deleteSingleClientAccount(id) {

        var dataStr = getRowData(id);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/DeleteClientAccount',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                // alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function updateSingleClientAccount(id) {

        var dataStr = getRowData(id);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/UpdateClientAccount',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

</script>