﻿@using VendornetVariableDB.Models
@{
    ViewBag.Title = "Account Types Modify.";
}

@{
    var currentAccountTypes = (List<AccountType>)ViewData["currentAccountTypes"];
}

<table class="table table-hover table-striped">
    <tr class="row">
        <td>
            <h2>Account Types</h2>
        </td>
    </tr>

    <tr class="row">
        <td>
            <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
        </td>
    </tr>

    @foreach (var currentAccountType in currentAccountTypes)
    {
        <tr class="row" style="border-top:2px dashed;">

            <td class="setupInfo currentAccountTypeInfo varID<@currentAccountType.AccountType1>">

                <div class="setupId" style="display:none;">
                    @currentAccountType.AccountType1
                </div>

                <div class="setupTextBox">
                    <textarea class="setupData">@currentAccountType.AccountTypeDesc</textarea>
                </div>

                <div class="setupUpdateBox">
                    <button onclick="updateSingleServer('varID<@currentAccountType.AccountType1>')" class="btn btn-default">Update</button>
                    <button onclick="deleteSingleServer('varID<@currentAccountType.AccountType1>')" class="btn btn-danger">Delete</button>
                </div>

            </td>

        </tr>
    }
    <tr class="row"><td><hr /></td></tr>
    <tr class="row"><td style="background-color:#428bca;color:white;"><b>CREATE NEW</b></td></tr>
    <tr class="row">
        <td class="setupInfo currentAccountTypeInfo newEntry">

            <div class="setupId" style="display:none;">
                -1
            </div>

            <div class="setupTextBox">
                <textarea class="setupData"></textarea>
            </div>

            <div class="setupUpdateBox">
                <button onclick="addSingleServer('newEntry')" class="btn btn-success">Add</button>
            </div>

        </td>

    </tr>

</table>

    <script>
        // back button
        $('#btnBackNoUpdate').click(function () {
            parent.history.back();
            return false;
        });
        var testMode = false;

        function getRowData(className) {
            var dataTable = document.getElementsByClassName(className);

            var rowData = ({
                PKeyId: dataTable[0].getElementsByClassName('setupId')[0].innerHTML.trim(),
                Name: dataTable[0].getElementsByClassName('setupData')[0].value.trim()
            });

            return JSON.stringify(rowData);
        }

        function addSingleServer(className) {

            var dataStr = getRowData(className);

            if (testMode) {
                window.alert(dataStr);
                return;
            }

            $.ajax({
                dataType: 'json',
                url: '/SystemSetup/AddClientAccountType',
                type: 'POST',
                data: { values: dataStr },
                success: function (result) {
                    // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                    location.reload();
                    //alert("Server responded with message: " + result);
                },
                failure: function (response) {
                    alert("Server responded with message: " + response);
                }
            });

        }

        function deleteSingleServer(className) {

            var dataStr = getRowData(className);

            if (testMode) {
                window.alert(dataStr);
                return;
            }

            $.ajax({
                dataType: 'json',
                url: '/SystemSetup/DeleteClientAccountType',
                type: 'POST',
                data: { values: dataStr },
                success: function (result) {
                    // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                    location.reload();
                    // alert("Server responded with message: " + result);
                },
                failure: function (response) {
                    alert("Server responded with message: " + response);
                }
            });

        }

        function updateSingleServer(className) {

            var dataStr = getRowData(className);

            if (testMode) {
                window.alert(dataStr);
                return;
            }

            $.ajax({
                dataType: 'json',
                url: '/SystemSetup/UpdateClientAccountType',
                type: 'POST',
                data: { values: dataStr },
                success: function (result) {
                    // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                    location.reload();
                    //alert("Server responded with message: " + result);
                },
                failure: function (response) {
                    alert("Server responded with message: " + response);
                }
            });

        }

    </script>
