﻿@using VendornetVariableDB.Models
@{
    ViewBag.Title = "System Setup";
}

<div class="jumbotron" style="height:350px;">
    <!--<h1>Vendornet Variable DB</h1>-->
    <h1>System Setup</h1>
    <div class="col-md-3"><p><button onclick="goToServerSetup()" class="btn btn-primary btn-lg">Servers</button></p></div>
    <div class="col-md-3">
        <p><button onclick="goToClientAccountTypesSetup()" class="btn btn-primary btn-lg">Account Types</button></p>
        <p><button onclick="goToAccountSetup()" class="btn btn-primary btn-lg">Accounts</button></p>
    </div>
    <div class="col-md-3">
        <p><button onclick="goToProgramSetup()" class="btn btn-primary btn-lg">Programs</button></p>
        <p><button onclick="goToProcessSetup()" class="btn btn-primary btn-lg">Processes</button></p>
    </div>
    <div class="col-md-3">
        <p><button onclick="goToVariables()" class="btn btn-primary btn-lg">Variables</button></p>
        <p><button onclick="goToVariableDefaults()" class="btn btn-primary btn-lg">Variable Defaults</button></p>
        <p><button onclick="goToVariableMapping()" class="btn btn-primary btn-lg">Variable Mapping</button></p>
    </div>
</div>
<script>
    function goToServerSetup() {
        window.location.href = '@Url.Action("Servers", "SystemSetup")';
    }

    function goToClientAccountTypesSetup() {
        window.location.href = '@Url.Action("ClientAccountTypes", "SystemSetup")';
    }

    function goToAccountSetup() {
        window.location.href = '@Url.Action("ClientAccounts", "SystemSetup")';
    }

    function goToProgramSetup() {
        window.location.href = '@Url.Action("Programs", "SystemSetup")';
    }

    function goToProcessSetup() {
        window.location.href = '@Url.Action("Processes", "SystemSetup")';
    }

    function goToVariables() {
        window.location.href = '@Url.Action("Variables", "SystemSetup")';
    }

    function goToVariableDefaults() {
        window.location.href = '@Url.Action("Index", "VariableDefaults")';
    }
function goToVariableMapping() {
        window.location.href = '@Url.Action("Index", "VariableMapping")';
    }

</script>
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->