﻿@using VendornetVariableDB.Models
@{
    ViewBag.Title = "Processes Modify.";
}

@{
    var currentProcesses = (List<Process>)ViewData["currentProcesses"];
    var programs = (List<Program>)ViewData["programs"];
}

<h2>Processes</h2>

<div>
    <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
</div>
<br />

<table class="table table-hover table-striped">
    @foreach (var currentProcess in currentProcesses)
    {
        bool active = false;

        if ((bool)currentProcess.Active)
        {
            active = true;
        }

        <tr class="row" style="border-bottom:2px dashed;">

            <td class="setupInfo currentAccountInfo varID@(currentProcess.ProcessId)">

                <div style="">
                    <div class="setupAttb_small">Process Name&nbsp;&nbsp;</div><textarea id="setupName@(currentProcess.ProcessId)" class="setupTextBox_small setupName">@currentProcess.ProcessName</textarea>
                    <div class="setupAttb_small">&nbsp;&nbsp;Owner&nbsp;&nbsp;</div><textarea id="setupOwner@(currentProcess.ProcessId)" class="setupTextBox_small setupOwner">@currentProcess.Owner</textarea>
                    <div class="setupAttb">
                        <div class="setupAttb_small">&nbsp;&nbsp;Active Dev&nbsp;&nbsp;</div>
                        <div style="float:left; width:25%">
                            No @Html.RadioButton("active" + currentProcess.ProcessId, false, active, new { @class = "active" })
                        </div>
                        <div style="float:left; width:25%">
                            Yes @Html.RadioButton("active" + currentProcess.ProcessId, true, active, new { @class = "active" })
                        </div>
                    </div>
                    <br /><br />
                    <div class="setupAttb_small">Program Name&nbsp;&nbsp;</div>
                    <div class="variableNameBox">
                        <select id="setupAddSelect@(currentProcess.ProcessId)">
                            @foreach (var program in programs)
                            {
                                if (currentProcess.ProgramId == program.ProgramId)
                                {
                                    <option value="@program.ProgramId" selected="selected">@program.ProgramName</option>
                                }
                                else
                                {
                                    <option value="@program.ProgramId">@program.ProgramName</option>
                                }
                            }
                        </select>
                    </div>
                    <br />
                    <div class="pull-left">Description:</div>
                    <textarea id="setupDescription@(currentProcess.ProcessId)" class="text-left setupTextBox setupDescription">@currentProcess.ProcessDescription</textarea>
                </div>

                <div class="setupUpdateBox">
                    <button onclick="updateSingleClientAccount('@currentProcess.ProcessId')" class="btn btn-default">Update</button>
                    <button onclick="deleteSingleClientAccount('@currentProcess.ProcessId')" class="btn btn-danger">Delete</button>
                </div>

            </td>

        </tr>
    }
    <tr class="row"><td><hr /></td></tr>
    <tr class="row"><td style="background-color:#428bca;color:white;"><b>CREATE NEW</b></td></tr>
    <tr class="row">

        <td class="setupInfo currentAccountInfo varID<-1>">

            <div style="clear:both;">
                <div class="setupAttb_small">Process Name&nbsp;&nbsp;</div><textarea id="setupName-1" class="setupTextBox_small setupName"></textarea>
                <div class="setupAttb_small">&nbsp;&nbsp;Owner&nbsp;&nbsp;</div><textarea id="setupOwner-1" class="setupTextBox_small setupOwner"></textarea>
                <div class="setupAttb">
                    <div class="setupAttb_small">&nbsp;&nbsp;Active Dev&nbsp;&nbsp;</div>
                    <div style="float:left; width:25%">
                        No @Html.RadioButton("active-1", false, false, new { @class = "active" })
                    </div>
                    <div style="float:left; width:25%">
                        Yes @Html.RadioButton("active-1", true, true, new { @class = "active" })
                    </div>
                </div>
                <br />
                <br />
                <div class="setupAttb_small">Program Name&nbsp;&nbsp;</div>
                <div class="variableNameBox">
                    <select id="setupAddSelect-1">
                        @foreach (var program in programs)
                        {
                            <option value="@program.ProgramId">@program.ProgramName</option>
                        }
                    </select>
                </div>
                <br />
                <div class="pull-left">Description:</div><textarea id="setupDescription-1" class="setupTextBox setupDescription"></textarea>
            </div>

            <div class="setupUpdateBox">
                <button onclick="addSingleClientAccount('-1')" class="btn btn-success">Add</button>
            </div>

        </td>

    </tr>

</table>

<script>
    // back button
    $('#btnBackNoUpdate').click(function () {
        parent.history.back();
        return false;
    });
    var testMode = false;

    function getRowData(id) {
        var selected = document.getElementById('setupAddSelect' + id)
        var active;
        var elements = document.getElementsByName('active' + id);

        for (var i = 0; i < elements.length; i++) {
            if (elements[i].checked) {
                active = elements[i].value;
            }
        }

        var rowData = ({
            ProcessId: id,
            Name: document.getElementById('setupName' + id).value.trim(),
            Owner: document.getElementById('setupOwner' + id).value.trim(),
            Active: active,
            ProgramId: selected.options[selected.selectedIndex].value,
            Description: document.getElementById('setupDescription' + id).value.trim()

        });

        return JSON.stringify(rowData);
    }

    function addSingleClientAccount(id) {

        var dataStr = getRowData(id);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/AddProcess',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function deleteSingleClientAccount(id) {

        var dataStr = getRowData(id);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/DeleteProcess',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                // alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function updateSingleClientAccount(id) {

        var dataStr = getRowData(id);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/UpdateProcess',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                alert("Server responded with message: " + result);
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

</script>