﻿@using VendornetVariableDB.Models
@{
    ViewBag.Title = "Programs Modify.";
}

@{
    var currentPrograms = (List<Program>)ViewData["currentPrograms"];
}
<h2>Programs</h2>
<div>
    <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
</div>
<br />
<table class="table table-hover table-striped">
    @foreach (var currentProgram in currentPrograms)
    {
        bool active = false;

        if ((bool)currentProgram.Active)
        {
            active = true;
        }

        <tr class="row" style="border-bottom:2px dashed;">

            <td class="setupInfo currentProgramInfo varID<@currentProgram.ProgramId>">

                <div style="clear:both;">
                    <div class="setupAttb">Program Name&nbsp;&nbsp;</div><textarea id="setupName@(currentProgram.ProgramId)" class="setupTextBox_small setupName">@currentProgram.ProgramName</textarea>
                    <div class="setupAttb_small">&nbsp;&nbsp;Owner&nbsp;&nbsp;</div><textarea id="setupOwner@(currentProgram.ProgramId)" class="setupTextBox_small setupOwner">@currentProgram.Owner</textarea>
                    <div class="setupAttb">
                        <div class="setupAttb_small">&nbsp;&nbsp;Active Dev&nbsp;&nbsp;</div>
                        <div style="float:left; width:25%">
                            No @Html.RadioButton("active" + currentProgram.ProgramId, false, active, new { @class = "active" })
                        </div>
                        <div style="float:left; width:25%">
                            Yes @Html.RadioButton("active" + currentProgram.ProgramId, true, active, new { @class = "active" })
                        </div>
                    </div>
                    <br /><br />
                    <div class="setupAttb">Description</div><textarea id="setupDescription@(currentProgram.ProgramId)" class="setupTextBox setupDescription">@currentProgram.ProgramDescription</textarea>
                    <br />
                    <div class="setupAttb">EXE</div><textarea id="setupExeName@(currentProgram.ProgramId)" class="setupTextBox">@currentProgram.ExeName</textarea>
                    <br />
                    <div class="setupAttb">TFS</div><textarea id="setupTFSPath@(currentProgram.ProgramId)" class="setupTextBox">@currentProgram.TFSPath</textarea>
                </div>

                <div class="setupUpdateBox">
                    <button onclick="updateSingleServer('@currentProgram.ProgramId')" class="btn btn-default">Update</button>
                    <button onclick="deleteSingleServer('@currentProgram.ProgramId')" class="btn btn-danger">Delete</button>
                </div>

            </td>

        </tr>
    }
    <tr class="row"><td><hr /></td></tr>
    <tr class="row"><td style="background-color:#428bca;color:white;"><b>CREATE NEW</b></td></tr>
    <tr class="row">

        <td class="setupInfo currentProgramInfo newEntry">

            <div style="clear:both;">
                <div class="setupAttb">Program Name&nbsp;&nbsp;</div><textarea id="setupName-1" class="setupTextBox_small setupName"></textarea>
                <div class="setupAttb_small">&nbsp;&nbsp;Owner&nbsp;&nbsp;</div><textarea id="setupOwner-1" class="setupTextBox_small setupOwner"></textarea>
                <div class="setupAttb">
                    <div class="setupAttb_small">&nbsp;&nbsp;Active Dev&nbsp;&nbsp;</div>
                    <div style="float:left; width:25%">
                        No @Html.RadioButton("active-1", false, false, new { @class = "active" })
                    </div>
                    <div style="float:left; width:25%">
                        Yes @Html.RadioButton("active-1", true, true, new { @class = "active" })
                    </div>
                </div>
                <br /><br />
                <div class="setupAttb">Description</div> <textarea id="setupDescription-1" class="setupTextBox setupDescription"></textarea>
                <br />
                <div class="setupAttb">EXE</div> <textarea id="setupExeName-1" class="setupTextBox"></textarea>
                <br />
                <div class="setupAttb">TFS</div> <textarea id="setupTFSPath-1" class="setupTextBox">$/VendorNet Agile/ImpDev/ImportStoreNet/</textarea>
            </div>
            <div class="setupUpdateBox">
                &nbsp;<button onclick="addSingleServer('-1')" class="btn btn-success">Create New</button>
            </div>

        </td>

    </tr>

</table>

<script>

    // back button
    $('#btnBackNoUpdate').click(function () {
        parent.history.back();
        return false;
    });

    var testMode = false;

    function getRowData(id) {
        var active;

        var elements = document.getElementsByName('active' + id);

        for (var i = 0; i < elements.length; i++) {
            if (elements[i].checked) {
                active = elements[i].value;
            }
        }

        var rowData = ({
            ProgramId: id,
            Name: document.getElementById('setupName' + id).value.trim(),
            Owner: document.getElementById('setupOwner' + id).value.trim(),
            Active: active,
            Description: document.getElementById('setupDescription' + id).value.trim(),
            ExeName: document.getElementById('setupExeName' + id).value.trim(),
            TFSPath: document.getElementById('setupTFSPath' + id).value.trim()

        });

        return JSON.stringify(rowData);
    }

    function addSingleServer(id) {

        var dataStr = getRowData(id);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/AddProgram',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function deleteSingleServer(className) {

        var dataStr = getRowData(className);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/DeleteProgram',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                // alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function updateSingleServer(className) {

        var dataStr = getRowData(className);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/UpdateProgram',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

</script>