﻿@using VendornetVariableDB.Models
@{
    ViewBag.Title = "Servers Modify.";
}

@{
    var currentServers = (List<Server>)ViewData["currentServers"];
}

<h2>Servers</h2>

<div>
    <button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
</div>
<br />

<table class="table table-hover table-striped">
    <tr class="row">
        <td>
            Server Name
        </td>
    </tr>

    @foreach (var currentServer in currentServers)
    {
        <tr class="row">

            <td class="setupInfo currentServerInfo varID<@currentServer.ServerId>">

                <div class="setupId" style="display:none;">
                    @currentServer.ServerId
                </div>

                <div class="setupTextBox">
                    <textarea class="setupData">@currentServer.ServerName</textarea>
                </div>

                <div class="setupUpdateBox">
                    <button onclick="updateSingleServer('varID<@currentServer.ServerId>')" class="btn btn-default">Update</button>
                    <button onclick="deleteSingleServer('varID<@currentServer.ServerId>')" class="btn btn-danger">Delete</button>
                </div>

            </td>

        </tr>
    }

    <tr class="row"><td><hr /></td></tr>
    <tr class="row"><td style="background-color:#428bca;color:white;"><b>CREATE NEW</b></td></tr>

    <tr class="row">

        <td class="setupInfo currentServerInfo newEntry">

            <div class="setupId" style="display:none;">
                -1
            </div>

            <div class="setupTextBox">
                <textarea class="setupData"></textarea>
            </div>

            <div class="setupUpdateBox">
                <button onclick="addSingleServer('newEntry')" class="btn btn-success">Add</button>
            </div>

        </td>

    </tr>

</table>

<script>
   
    // back button
    $('#btnBackNoUpdate').click(function () {
        parent.history.back();
        return false;
    });

    var testMode = false;

    function getRowData(className) {
        var dataTable = document.getElementsByClassName(className);

        var rowData = ({
            ServerId: dataTable[0].getElementsByClassName('setupId')[0].innerHTML.trim(),
            Name: dataTable[0].getElementsByClassName('setupData')[0].value.trim()
        });

        return JSON.stringify(rowData);
    }

    function addSingleServer(className) {

        var dataStr = getRowData(className);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/AddServer',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function deleteSingleServer(className) {

        var dataStr = getRowData(className);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/DeleteServer',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                // alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

    function updateSingleServer(className) {

        var dataStr = getRowData(className);

        if (testMode) {
            window.alert(dataStr);
            return;
        }

        $.ajax({
            dataType: 'json',
            url: '/SystemSetup/UpdateServer',
            type: 'POST',
            data: { values: dataStr },
            success: function (result) {
                // recommended standard appears to be having json respond with the url; if so then update this to reload (with view arguments: ?serverId=...)
                location.reload();
                //alert("Server responded with message: " + result);
            },
            failure: function (response) {
                alert("Server responded with message: " + response);
            }
        });

    }

</script>