﻿@model PagedList.IPagedList<VendornetVariableDB.Models.Variable>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Variables";
}

@* show new variable modal button *@

<h2>Variables</h2>

<button id="btnBackNoUpdate" class="btn btn-sm">Back/No Update</button>
<input type="button" id="btnShowMyNewVariableModal" name="btnShowMyNewVariableModal" class="btn btn-success" value="Add New Variable" />
<br />
<br />

@using (Html.BeginForm("Variables", "SystemSetup", FormMethod.Get))
{
    <p>
        @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Type Variable Name here and click 'Search' below" })
        <input type="submit" value="Search" class="btn btn-sm"/>
    </p>
}

<div style="font-weight:bold;">
    <div style="float:left; width:20%;">
        Variable Name
    </div>
    <div style="float:left;width:60%;">
        Variable Description
    </div>
</div>

<table class="table table-striped table-hover">
    @foreach (var variable in Model)
    {
        bool def1 = false;
        bool def2 = false;
        bool def3 = false;
        bool def4 = false;

        switch (variable.DefaultLevel)
        {
            case 1:
                def1 = true;
                break;
            case 2:
                def2 = true;
                break;
            case 3:
                def3 = true;
                break;
            case 4:
                def4 = true;
                break;
        }

        <tr class="variableInfo varID<@variable.VariableId> row">           
            <td>
                <div class="variableId" style="display:none;">
                    @variable.VariableId
                </div>

                <div style="float:left; width:20%">
                    <textarea class="variableName form-control" rows="1" style="width:98%; float:left; box-sizing:border-box">@variable.VariableName</textarea>
                    <br />
                    SortIndex (0-9):<input id="variableSortIndex" class="variableSortIndex" maxlength="1" style="width:20px;" value="@variable.SortIndex" />
                </div>

                <div style="float:left; width:60%;">
                    <textarea class="variableData form-control" rows="1" style="width:98%; float:left; box-sizing:border-box">@variable.VariableDescription</textarea>
                    <br /><br />
                    <div id="divUserFeedbackMessage@(variable.VariableId)" class="divUserFeedback"></div>
                </div>

                <div style="float:left; width:20%;">
                    <div style="float:left; width:25%;">
                        S<br />
                        @Html.CheckBoxFor(s => @variable.Server.Value, new { @class = "availServer" })<br />
                        @Html.RadioButton("defLevel" + variable.VariableId, 1, def1, new { @class = "defLevel" })
                    </div>
                    <div style="float:left; width:25%;">
                        A<br />
                        @Html.CheckBoxFor(a => @variable.Account.Value, new { @class = "availAccount" })<br />
                        @Html.RadioButton("defLevel" + variable.VariableId, 2, def2, new { @class = "defLevel" })
                    </div>
                    <div style="float:left; width:25%;">
                        P<br />
                        @Html.CheckBoxFor(p => @variable.Program.Value, new { @class = "availProgram" })<br />
                        @Html.RadioButton("defLevel" + variable.VariableId, 3, def3, new { @class = "defLevel" })
                    </div>
                    <div style="float:left; width:25%;">
                        PP<br />
                        @Html.CheckBoxFor(pp => @variable.Process.Value, new { @class = "availProcess" }) Avail<br />
                        @Html.RadioButton("defLevel" + variable.VariableId, 4, def4, new { @class = "defLevel" }) Def
                    </div>
                </div>

                <div style="float:left; clear:both;">
                    <button onclick="updateSingleVariable('varID<@(variable.VariableId)>')" class="btn btn-success">Update</button>&nbsp;
                    <button onclick="deleteSingleVariable('@(variable.VariableId)')" class="btn btn-danger">Delete</button>
                </div>
            </td>
        </tr>
    }
</table>

<div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Variables",
    new { page, currentFilter = ViewBag.CurrentFilter }))

</div>

@* Add New Variable Modal*@
<div id="myNewVariableModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Variable</h4>
            </div>
            <div class="modal-body">
                <p>Please fill out required fields</p>
                <div style="float:left; width:20%">
                    <textarea id="variableNameNew" rows="1" style="width:98%; float:left; box-sizing:border-box"></textarea>
                    <br />
                    SortIndex (0-9):<input id="variableSortIndexNew" maxlength="2" style="width:40px;" />
                </div>

                <div style="float:left; width:60%;">
                    <textarea id="variableDescriptionNew" rows="1" style="width:98%; float:left; box-sizing:border-box"></textarea>
                </div>

                <div style="float:left; width:20%;">
                    <div style="float:left; width:25%">
                        S<br />
                        @Html.CheckBox("isServerNew")<br />
                        @Html.RadioButton("defaultLevelNew", 1)
                    </div>
                    <div style="float:left; width:25%">
                        A<br />
                        @Html.CheckBox("isAccountNew")<br />
                        @Html.RadioButton("defaultLevelNew", 2)
                    </div>
                    <div style="float:left; width:25%">
                        P<br />
                        @Html.CheckBox("isProgramNew")<br />
                        @Html.RadioButton("defaultLevelNew", 3)
                    </div>
                    <div style="float:left; width:25%">
                        PP<br />
                        <span style="white-space:nowrap;">@Html.CheckBox("isProcessNew") Avail</span><br />
                        @Html.RadioButton("defaultLevelNew", 4) Def
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnCreateNewVariable">Create</button>
            </div>
            <div id="divUserFeedback" class="text-center">Please wait...<img src="@Url.Content("~/Content/Images/Loading.gif")"></div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // back button
        $('#btnBackNoUpdate').click(function () {
            parent.history.back();
            return false;
        });
        function getDefaultLevel(name) {
            alert($("input[name$='" + name + "']:checked").val());
        }

        function getRowData(className) {
            var dataTable = document.getElementsByClassName(className);
            var defLevel;

            for (var i = 0; i < dataTable[0].getElementsByClassName('defLevel').length; i++) {
                if (dataTable[0].getElementsByClassName('defLevel')[i].checked) {
                    defLevel = dataTable[0].getElementsByClassName('defLevel')[i].value;
                }
            }

            var rowData = ({
                PKeyId: dataTable[0].getElementsByClassName('variableId')[0].innerHTML.trim(),
                Name: dataTable[0].getElementsByClassName('variableName')[0].innerHTML.trim(),
                SortIndex: dataTable[0].getElementsByClassName('variableSortIndex')[0].value.trim(),
                Description: dataTable[0].getElementsByClassName('variableData')[0].value.trim(),
                DefLevel: defLevel,
                AvailServer: dataTable[0].getElementsByClassName('availServer')[0].checked,
                AvailAccount: dataTable[0].getElementsByClassName('availAccount')[0].checked,
                AvailProgram: dataTable[0].getElementsByClassName('availProgram')[0].checked,
                AvailProcess: dataTable[0].getElementsByClassName('availProcess')[0].checked
            });

            return JSON.stringify(rowData);
        }

        function getAllData() {
            var allData = [];
            var dataTable = document.getElementsByClassName('variableInfo');

            for (var n = 0; n < dataTable.length; n++) {
                allData.push({
                    Name: dataTable[n].getElementsByClassName('variableName')[0].innerHTML.trim(),
                    ID: dataTable[n].getElementsByClassName('variableId')[0].innerHTML.trim(),
                    Data: dataTable[n].getElementsByClassName('variableData')[0].value.trim()
                })
            }

            var fullObject = { data: allData };
            return JSON.stringify(fullObject);
        }

        function deleteSingleVariable(id) {
            var r = confirm("Are you sure you want to delete this Variable?");
            if (r == true) {
                // build the JSON model to send
                var ajaxData = {
                    id: id
                };
                // ajax it
                $.ajax({
                    dataType: 'json',
                    url: '@Url.Action("DeleteVariable", "SystemSetup")',
                    type: 'POST',
                    data: ajaxData,
                    success: function (response) {
                        if (response.IsSuccess) {
                            alert("Success. Reloading page.");
                            location.reload();
                        }
                        else {
                            alert("There was a problem:\n\n" + response.Message);
                        }
                    },
                    failure: function (response) {
                        alert("AJAX Error:\n\n" + response.responseText);
                    }
                });
            }           
        }

        function updateSingleVariable(className) {

            var dataStr = getRowData(className);

            // return to accessible obj to get the variableID for feedback
            var obj = JSON.parse(dataStr);

            //alert(dataStr);
            // return;

            $.ajax({
                dataType: 'json',
                url: '@Url.Action("UpdateVariable", "SystemSetup")',
                type: 'POST',
                data: { values: dataStr },
                success: function (result) {
                    //alert("Server responded with message: " + result);
                    // tell them success; send message to feedback placeholder
                    $('#divUserFeedbackMessage' + obj.PKeyId).html("<div class='alert alert-info fade in' role='alert' id='messageAlert'><strong>UPDATED - reloading page</strong></div>");
                    // fade out/slideup in 3 seconds
                    $("#messageAlert").fadeTo(1500, 500).slideUp(500, function () {
                        $("#messageAlert").alert('close');
                        location.reload();
                    });
                },
                failure: function (response) {
                    alert("Server responded with message: " + response);
                }
            });
        }

        @*function updateAllVariables() {
            var dataStr = getAllData();
            console.info(dataStr);

            $.ajax({
                dataType: 'json',
                url: '@Url.Action("UpdateVariable", "SystemSetup")',
                type: 'POST',
                data: { values: dataStr },
                success: function (result) {
                    alert("Server responded with message: " + result);
                    // tell them success; send message to feedback placeholder
                    $('#divUserFeedbackMessageUpdatedAll').html("<div class='alert alert-info fade in' role='alert' id='messageAlert'><strong>UPDATED All - Reloading Page</strong></div>");
                    // fade out/slideup in 3 seconds
                    $("#messageAlert").fadeTo(1500, 500).slideUp(500, function () {
                        $("#messageAlert").alert('close');
                        location.reload();
                    });
                },
                failure: function (response) {
                    alert("Server responded with message: " + response);
                }
            });
        }*@

        function blankNewVariableForm() {
            $('#variableNameNew').val('');
            $('#variableDescriptionNew').val('');
            $('#isServerNew').val('');
            $('#isAccountNew').val('');
            $('#isProgramNew').val('');
            $('#isProcessNew').val('');
            $('#defaultLevelNew').val('');
        }

        function errorAlertAndCleanup(message) {
            // hide userfeedback
            $('#divUserFeedback').hide();
            alert("There was an error processing your request.\nPlease try again and/or inform the Administrator.\n\nMessage: " + message);
        }

        $(document).ready(function () {

            // show UserStory modal on click !!--for EPIC story--!!
            $('#btnShowMyNewVariableModal').on('click', function () {
                // blank inputs
                blankNewVariableForm();
                // hide feedback
                $('#divUserFeedback').hide();
                // show modal
                $("#myNewVariableModal").modal('show');
            });

            // Create new variable button click 
            // TODO: (this is sloppy; should make the modal it's own form and use jQuery Validation
            $('#btnCreateNewVariable').on('click', function () {
                // validate form
                if (!$('input[name="defaultLevelNew"]:checked').length
                    || $('#variableNameNew').val() == ''
                    || $('#variableDescriptionNew').val() == ''
                    || (!$('#isServerNew').is(':checked')
                        && !$('#isAccountNew').is(':checked')
                        && !$('#isProgramNew').is(':checked')
                        && !$('#isProcessNew').is(':checked'))
                    || isNaN($('#variableSortIndexNew').val())
                    || $('#variableSortIndexNew').val() == '')
                {
                    alert("Please fill out\nName,\nDescription,\nand select at least one checkbox (Avail)\nand one radio for Default Level (Def)\nSortIndex must be a number");
                    return;
                }
                // Get values from Modal and put into JSON object mimicking correct ViewModel
                var VariableToAddModel = {
                    VariableName: $('#variableNameNew').val(),
                    SortIndex: $('#variableSortIndex').val(),
                    VariableDescription: $('#variableDescriptionNew').val(),
                    IsServer: $('#isServerNew').prop('checked'),
                    IsAccount: $('#isAccountNew').prop('checked'),
                    IsProgram: $('#isProgramNew').prop('checked'),
                    IsProcess: $('#isProcessNew').prop('checked'),
                    DefaultLevel: $("input[type='radio'][id='defaultLevelNew']:checked").val()
                };
                // build request data and add token to it
                var token = $('input[name="__RequestVerificationToken"]').val();
                var ajaxData = {
                    __RequestVerificationToken: token,
                    model: VariableToAddModel
                };
                // show userfeedback
                $('#divUserFeedback').show();

                // -- debug: show all key/value pairs in json object --
                //$.each(VariableToAddModel, function (k, v) {
                //    //display the key and value pair
                //    alert(k + ' is ' + v);
                //});
                // -- end debug --

                // post to controller
                $.ajax({
                    url: "@(Url.Action("AddNewVariable","SystemSetup"))",
                    type: "POST",
                    //contentType: "application/json; charset=utf-8", // this must be commented out or [ValidateAntiForgeryToken] attribute bombs
                    //dataType: "html",
                    data: ajaxData,
                    success: function (data) { // ajax succeeded
                        if (data.IsSuccess === true) { // controller success ---                           
                            // blank inputs
                            blankNewVariableForm();
                            // hide userfeedback
                            $('#divUserFeedback').hide();
                            // hide modal
                            $("#myNewVariableModal").modal('hide');
                            // let use know of success
                            alert("Successfully added new variable.\nReloading page.");
                            location.reload();
                        }
                        else { // controller failure
                            errorAlertAndCleanup(data.Message);
                        }
                    },
                    error: function (data) { // ajax failed
                        errorAlertAndCleanup(data.responseText);
                    }
                });
            });
   
        });

    </script>
}